workspace/pipeline/0_Listed_Buildings_API_to_RAW.json
{
	"name": "0_Listed_Buildings_API_to_RAW",
	"properties": {
		"activities": [
			{
				"name": "ListedBuilding",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Environment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ListedBuildings",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "listed_building",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ListedBuildingOutline",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ListedBuilding",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ListedBuildingOutline",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "listed_building_outline",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Environment",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "env",
					"value": {
						"value": "@if(\n    equals(\n        pipeline().DataFactory,\n        'pins-synw-odw-prod-uks'\n    ),\n    'PROD',\n    if(\n        equals(\n            pipeline().DataFactory,\n            'pins-synw-odw-test-uks'\n        ),\n        'TEST',\n        if(\n            equals(\n                pipeline().DataFactory,\n                'pins-synw-odw-build-uks'\n            ),\n            'BUILD',\n            'DEV'\n        )\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable Start Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "0_Listed_Buildings_API_to_RAW_pipeline_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "0_Listed_Buildings_API_to_RAW"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable Start Time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ListedBuilding_Start_Time",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ListedBuildingOutline",
						"dependencyConditions": [
							"Completed",
							"Skipped"
						]
					},
					{
						"activity": "ListedBuilding",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "0_Listed_Buildings_API_to_RAW_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@if(\n    empty(\n        concat(\n            coalesce(activity('Lookup-LogStart').Error?.message, ''),\n            coalesce(activity('ListedBuilding').Error?.message, ''),\n            coalesce(activity('ListedBuildingOutline').Error?.message, '')\n        )\n    ),\n    null,\n    concat(\n        coalesce(activity('Lookup-LogStart').Error?.message, ''),\n        coalesce(activity('ListedBuilding').Error?.message, ''),\n        coalesce(activity('ListedBuildingOutline').Error?.message, '')\n    )\n)",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@if(\n    or(\n        equals(activity('ListedBuilding')?.Error?.Message, ''),\n        equals(activity('ListedBuilding')?.Error?.Message, null)\n    ),\n    activity('ListedBuilding').output.rowsCopied,\n    0\n)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "0_Listed_Buildings_API_to_RAW",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Record completed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Sp_log_success",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "@if(\n    or(\n        or(\n            not(empty(activity('Lookup-LogStart')?.Error?.Message)),\n            not(empty(activity('ListedBuilding')?.Error?.Message))\n        ),\n        or(\n            not(empty(activity('ListedBuildingOutline')?.Error?.Message)),\n            not(empty(activity('Sp_log_success')?.Error?.Message))\n        )\n    ),\n    'Failed',\n    'Success'\n)",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('ListedBuilding_Start_Time')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@if(\n    empty(activity('ListedBuilding')?.Error?.Message),\n    activity('ListedBuilding').output.rowsCopied,\n    0\n)",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@replace(\n    concat(\n        coalesce(activity('Lookup-LogStart')?.Error?.message, ''),\n        coalesce(activity('ListedBuilding')?.Error?.message, ''),\n        coalesce(activity('ListedBuildingOutline')?.Error?.message, ''),\n        coalesce(activity('Sp_log_success')?.Error?.message, '')\n    ),\n    '\"',\n    ''\n)",
							"type": "Expression"
						},
						"StatusMessage": {
							"value": "@if(\n    or(\n        or(\n            not(empty(activity('Lookup-LogStart')?.Error?.Message)),\n            not(empty(activity('ListedBuilding')?.Error?.Message))\n        ),\n        or(\n            not(empty(activity('ListedBuildingOutline')?.Error?.Message)),\n            not(empty(activity('Sp_log_success')?.Error?.Message))\n        )\n    ),\n    'Failed copying Listed Buildings data',\n    'Successfully copied Listed Buildings data'\n)",
							"type": "Expression"
						},
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"PipelineExecutionTimeInSec": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('ListedBuilding_Start_Time'))), 10000000)",
							"type": "Expression"
						},
						"ActivityType": {
							"value": "0_Listed_Buildings_API_to_RAW Activity",
							"type": "Expression"
						},
						"DurationSeconds": {
							"value": "@div(\n    sub(\n        ticks(utcNow()),\n        ticks(variables('ListedBuilding_Start_Time'))\n    ),\n    10000000\n)",
							"type": "Expression"
						},
						"StatusCode": {
							"value": "@if(\n    or(\n        or(\n            not(empty(activity('Lookup-LogStart')?.Error?.Message)),\n            not(empty(activity('ListedBuilding')?.Error?.Message))\n        ),\n        or(\n            not(empty(activity('ListedBuildingOutline')?.Error?.Message)),\n            not(empty(activity('Sp_log_success')?.Error?.Message))\n        )\n    ),\n    '500',\n    '200'\n)",
							"type": "Expression"
						},
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"apps_insights_ikey": {
				"type": "string",
				"defaultValue": "87864c3b-0d8b-4a98-b2c4-596ddf8fe123"
			}
		},
		"variables": {
			"env": {
				"type": "String"
			},
			"app_ins_ikey": {
				"type": "String"
			},
			"ListedBuilding_Start_Time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "listed buildings/layers/0-raw"
		},
		"annotations": []
	}
}