workspace/pipeline/0_Listed_Buildings_API_to_RAW.json
{
	"name": "0_Listed_Buildings_API_to_RAW",
	"properties": {
		"activities": [
			{
				"name": "ListedBuilding",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ListedBuildings",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "listed_building",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ListedBuildingOutline",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set ListedBuildingCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ListedBuildingOutline",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "listed_building_outline",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set ListedBuildingCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ListedBuilding",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ListedBuildingCount",
					"value": {
						"value": "@int(activity('ListedBuilding').output.rowsCopied)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set ListedBuildingOutlineCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ListedBuildingOutline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "ListedBuildingCombinedCount",
							"value": {
								"type": "Expression",
								"content": "@add(int(activity('ListedBuildingOutline').output.rowsCopied),variables('ListedBuildingCount'))"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"ListedBuildingCount": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "listed buildings/layers/0-raw"
		},
		"annotations": []
	}
}