workspace/pipeline/0_Raw_EntraID.json
{
	"name": "0_Raw_EntraID",
	"properties": {
		"activities": [
			{
				"name": "Copy AAD Users",
				"description": "Calls the Entra ID and retrieves a list of the users and their attributes",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"AbsoluteUrl": "$['@odata.nextLink']"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_entra_id",
						"type": "DatasetReference",
						"parameters": {
							"query": "users?$select=surname,givenName,userPrincipalName,id,employeeId"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "entra_id_users",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "entraid.json"
						}
					}
				]
			},
			{
				"name": "Set RecordCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy AAD Users",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "RawRecordCount",
							"value": {
								"type": "Expression",
								"content": "@activity('Copy AAD Users').output.rowsCopied"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"folder": {
			"name": "EntraID/0-raw"
		},
		"annotations": []
	}
}