workspace/pipeline/0_Raw_Checkmark_Data_v4.json
{
	"name": "0_Raw_Checkmark_Data_v4",
	"properties": {
		"activities": [
			{
				"name": "Checkmark_Case_Comment",
				"description": "This is ingesting data into ODW Raw from miPINS table case_comment",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Record loading relevant reps data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "setharmonisedstarttime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.case_comment"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CaseComment.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_reference",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "state",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "state",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "author",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "author",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "timestamp",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "timestamp",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "comment",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "comment",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "mipins_checkmark_case_comment",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CaseComment.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Case_Marking",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table case_marking",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Case_Comment",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.case_marking"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CaseMarking.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_reference",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "overall_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "overall_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "amendments_timeliness_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "amendments_timeliness_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "complexity",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "complexity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "conditions_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "conditions_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "conditions_detail",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "conditions_detail",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "coverage_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "coverage_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "coverage_detail",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "coverage_detail",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ground_a_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ground_a_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ground_a_iit_level",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ground_a_iit_level",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invalid_nullity",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "invalid_nullity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invalid_nullity_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "invalid_nullity_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "legal_grounds_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "legal_grounds_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "legal_grounds_considered",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "legal_grounds_considered",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "non_legal_grounds_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "non_legal_grounds_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "non_legal_grounds_considered",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "non_legal_grounds_considered",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "other_grounds_affecting_complexity",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "other_grounds_affecting_complexity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "outcome",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "outcome",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "overall_case_level_for_iit_progression",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "overall_case_level_for_iit_progression",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "presentation_accuracy_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "presentation_accuracy_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "presentation_accuracy_detail",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "presentation_accuracy_detail",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "structure_reasoning_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "structure_reasoning_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "structure_reasoning_detail",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "structure_reasoning_detail",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "timeliness_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "timeliness_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reading_complete_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "reading_complete_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_case_marking",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CaseMarking.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Comment_State_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table comment_state_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Case_Marking",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.comment_state_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CommentStateReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_comment_state_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CommentStateReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Comment_Type_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table comment_type_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Comment_State_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.comment_type_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CommentTypeReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CommentTypeReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Conditions_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table conditions_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Comment_Type_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.conditions_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ComplexityReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_conditions_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ConditionsReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Coverage_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table coverage_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Conditions_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.coverage_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CoverageReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_coverage_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CoverageReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Level_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table level_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Coverage_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.level_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'LevelReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_level_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "LevelReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Outcome_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table outcome_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Level_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.outcome_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'OutcomeReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Checkmark_outcome_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "OutcomeReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Presentation_Accuracy_Detail_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table presentation_accuracy_detail_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Outcome_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.presentation_accuracy_detail_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'PresentationAccuracyDetailReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_presentation_accuracy_detail_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "PresentationAccuracyDetailReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Procedure_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table \n procedure_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Presentation_Accuracy_Detail_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.procedure_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ProcedureReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_procedure_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ProcedureReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Reading_Case",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table reading_case",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Procedure_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.reading_case"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ReadingCase.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "case_reference",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "inspector_email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inspector_email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "inspector_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inspector_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reader_email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "reader_email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reader_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "reader_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_level",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "case_level",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_submitted_by_inspector",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_submitted_by_inspector",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "event_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "event_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type_of_reading",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "type_of_reading",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "procedure",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "procedure",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_target_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "case_target_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reading_status",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "reading_status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "able_to_read_decision",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "able_to_read_decision",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "advertisement",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "advertisement",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "appeal_against_conditions",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "appeal_against_conditions",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bespoke",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "bespoke",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_team_officer_email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_team_officer_email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_team_officer_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_team_officer_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "costs_decision",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "costs_decision",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "green_belt",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "green_belt",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "kiosk",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "kiosk",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "linked",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "linked",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "neighbourhood_plan",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "neighbourhood_plan",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "nsi_email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "nsi_email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "nsi_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "nsi_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "prior_approval",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "prior_approval",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reason_for_delay",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "reason_for_delay",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "redetermination",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "redetermination",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "secretary_of_state_report",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "secretary_of_state_report",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "spa_sac_eps",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "spa_sac_eps",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "special_category_data",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "special_category_data",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "specialisms",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "specialisms",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "telecommunications",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "telecommunications",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "urgent",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "urgent",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "amendments_received_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "amendments_received_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "able_to_check_amendments",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "able_to_check_amendments",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "amendments_cycles",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "amendments_cycles",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "amendments_target_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "amendments_target_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "amendments_timeliness_review_flag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "amendments_timeliness_review_flag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_amendments_checked",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_amendments_checked",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_amendments_received",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_amendments_received",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_cleared",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_cleared",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_decision_sent_for_issue",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_decision_sent_for_issue",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_read",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_read",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_read_started",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_read_started",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "decision_read",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "decision_read",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "delayed_amendments_submission",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "delayed_amendments_submission",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "delayed_submission",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "delayed_submission",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "document_version",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "document_version",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "document_version_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "document_version_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "final_decision_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "final_decision_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "notification_sent_flag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "notification_sent_flag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "on_hold_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "on_hold_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "on_hold_status",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "on_hold_status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reading_complete_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "reading_complete_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reading_needed_flag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "reading_needed_flag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ready_for_issue",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ready_for_issue",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reason_for_amendments_delay",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "reason_for_amendments_delay",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "recall_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "recall_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "replacement_decision_flag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "replacement_decision_flag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "return_count",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "return_count",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "revised_decision_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "revised_decision_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "skim_read",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "skim_read",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "source",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "source",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "timeliness_review_flag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "timeliness_review_flag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_reading_case",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ReadingCase.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Reading_Status_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table reading_status_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Case",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.reading_status_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ReadingStatusReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_reading_status_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ReadingStatusReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Reading_Type_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table \n reading_type_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Status_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.reading_type_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ReadingTypeReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_reading_type_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ReadingTypeReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Source_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table source_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Type_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.source_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'SourceReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_source_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "SourceReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Structure_Reasoning_Detail_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table structure_reasoning_detail_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Source_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.structure_reasoning_detail_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'StructureReasoningDetailReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_structure_reasoning_detail_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_check_mark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "StructureReasoningDetailReference.csv"
						}
					}
				]
			},
			{
				"name": "record count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Case_Comment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Record loading relevant reps data",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "OnProgress",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"StatusMessage": "Loading Sap HR Curated Layer",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "setharmonisedstarttime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "harmonisedstarttime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "record count_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Case_Marking",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Comment_State_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Comment_Type_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Conditions_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy3",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy3",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy4",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Coverage_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy4",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy4",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy4",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy4",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy4",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy4",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy5",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Level_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy5",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy5",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy5",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy5",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy5",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy5",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy6",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Outcome_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy6",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy6",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy6",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy6",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy6",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy6",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy7",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Presentation_Accuracy_Detail_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy7",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy7",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy7",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy7",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy7",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy7",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy7",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy7",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy8",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Procedure_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy8",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy8",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy8",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy8",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy8",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy8",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy8",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy8",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy9",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Case",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy9",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy9",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy9",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy9",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy9",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy9",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy9",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy9",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy10",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Status_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy10",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy10",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy10",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy10",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy10",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy10",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy10",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy10",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy11",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Type_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy11",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy11",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy11",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy11",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy11",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy11",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy11",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy11",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy12",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Source_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy12",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy12",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy12",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy12",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy12",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy12",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy12",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy12",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "record count_copy1_copy13",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Checkmark_Structure_Reasoning_Detail_Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@string(json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).record_count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_copy1_copy13",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy13",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline running",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('harmonisedstarttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send Sap HR Curated failed_copy1_copy13",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy13",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "checkmarkdata raw load pipeline failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "checkmarkdata raw load pipeline failed",
						"Message_subtitle": "checkmarkdata raw load pipeline failed"
					}
				}
			},
			{
				"name": "error message_copy1_copy13",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count_copy1_copy13",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@json(activity('Checkmark_Case_Comment').output.status.output.result.exitValue).error_message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Sap HR Curated data_pa_copy1_copy13",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message_copy1_copy13",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('harmonisedstarttime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "checkmarkdata raw load pipeline failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"webhook_url": {
				"type": "string"
			},
			"subscription_id": {
				"type": "string"
			},
			"resource_group": {
				"type": "string"
			},
			"starting_colour": {
				"type": "string"
			},
			"on_progress_colour": {
				"type": "string"
			},
			"failed_colour": {
				"type": "string"
			},
			"start_time": {
				"type": "string"
			},
			"starting_image": {
				"type": "string"
			},
			"progress_image": {
				"type": "string"
			},
			"warning_image": {
				"type": "string"
			},
			"failed_image": {
				"type": "string"
			},
			"warning_colour": {
				"type": "string"
			},
			"horizon_feed": {
				"type": "string"
			},
			"apps_insights_ikey": {
				"type": "string"
			}
		},
		"variables": {
			"harmonisedstarttime": {
				"type": "String"
			},
			"recordCount": {
				"type": "String"
			},
			"error_message": {
				"type": "String"
			}
		},
		"folder": {
			"name": "checkmarkdata"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-19T13:05:48Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}