workspace/pipeline/Pipeline 1.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "ExecuteGreenSpecialistCaseFileExtract",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_green_specialist_case_odw_src_odw_raw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Get recent folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ExecuteGreenSpecialistCaseFileExtract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_odw_raw_get_recent_green_specialist_case_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If recent file folder exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get recent folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get recent folder').output.exists,true)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Validation Ouput",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Post_Val_Return",
								"value": "N"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "pln_green_specialist_case_standardised",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_green_specialist_case_standardised",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Return Val Variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "pln_green_specialist_case_standardised",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Post_Val_Return",
								"value": {
									"value": "@activity('pln_green_specialist_case_standardised').output.pipelineReturnValue.Post_Val_Check\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "If Post Validation succeeds",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If recent file folder exist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Post_Val_Return'),'Y')\n\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "EndProcess",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "pln_green_specialist_case_harmonised",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_green_specialist_case_harmonised",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "pln_green_specialist_case_curated",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pln_green_specialist_case_harmonised",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_green_specialist_case_curated_main",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "pln_copy_green_specialist_cases_mipins",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pln_green_specialist_case_curated",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_copy_green_specialist_cases_mipins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "green_specialist_case/layers"
		},
		"annotations": []
	}
}