workspace/pipeline/pln_checkmarkdata_main.json
{
	"name": "pln_checkmarkdata_main",
	"properties": {
		"activities": [
			{
				"name": "Record loading Green Specialist Case",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "OnProgress",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"StatusMessage": "Loading Green Specialist Case",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get recent folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Record loading Green Specialist Case",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_odw_raw_get_recent_folder_checkmarkdata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If recent file folder exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get recent folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get recent folder').output.exists,true)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "pln_checkmark_standardised_main",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pln_raw_checkmark_data_odw_raw_src",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_checkmark_standardised_main",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "pln_raw_checkmark_data_odw_raw_src",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_raw_checkmark_data_odw_raw_src",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "pln_checkmark_data_curated_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pln_checkmark_harmonised_main",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_checkmarkdata_curated_main",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "pln_checkmarkdata_cur_mipins_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pln_checkmark_data_curated_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_checkmarkdata_cur_mipins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableConfig": {
										"value": "@json('[{\"sourceTable\":\"pbi_case_marking\",\"sinkTable\":\"case_marking\",\"columns\":\"ID, case_reference, overall_mark, amendments_timeliness_mark, complexity, conditions_mark, conditions_detail, coverage_mark, coverage_detail, ground_a_mark, ground_a_iit_level, invalid_nullity, invalid_nullity_mark, legal_grounds_mark, legal_grounds_considered, non_legal_grounds_mark, non_legal_grounds_considered, other_grounds_affecting_complexity, outcome, overall_case_level_for_iit_progression, presentation_accuracy_mark, presentation_accuracy_detail, structure_reasoning_mark, structure_reasoning_detail, timeliness_mark, reading_complete_notification_needed\"},{\"sourceTable\":\"pbi_comment_state_ref\",\"sinkTable\":\"comment_state_ref\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_comment_type_ref\",\"sinkTable\":\"comment_type_ref\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_comments\",\"sinkTable\":\"comments\",\"columns\":\"ID, case_reference, type, state, author, timestamp, comment\"},{\"sourceTable\":\"pbi_conditions_reference\",\"sinkTable\":\"conditions_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_coverage_reference\",\"sinkTable\":\"coverage_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_outcome_reference\",\"sinkTable\":\"outcome_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_presentation_accuracy_detail_reference\",\"sinkTable\":\"presentation_accuracy_detail_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_procedure_reference\",\"sinkTable\":\"procedure_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_reading_case\",\"sinkTable\":\"reading_case\",\"columns\":\"case_reference, inspector_email, inspector_name, reader_email, reader_name, case_level, date_submitted_by_inspector, event_date, type_of_reading, [procedure], case_target_date, reading_status, able_to_read_decision, advertisement, appeal_against_conditions, bespoke, case_team_officer_email, case_team_officer_name, costs_decision, green_belt, kiosk, linked, neighbourhood_plan, nsi_email, nsi_name, prior_approval, reason_for_delay, redetermination, secretary_of_state_report, spa_sac_eps, special_category_data, specialisms, telecommunications, urgent, amendments_received_notification_needed, able_to_check_amendments, amendments_cycles, amendments_target_date, amendments_timeliness_review_flag, date_amendments_checked, date_amendments_received, date_cleared, date_decision_sent_for_issue, date_read, date_read_started, decision_read, delayed_amendments_submission, delayed_submission, document_version, document_version_needed, final_decision_notification_needed, notification_sent_flag, on_hold_notification_needed, on_hold_status, reading_needed_flag, ready_for_issue, reason_for_amendments_delay, recall_notification_needed, replacement_decision_flag, return_count, revised_decision_notification_needed, skim_read, source, timeliness_review_flag, date_modified\"},{\"sourceTable\":\"pbi_reading_status_reference\",\"sinkTable\":\"reading_status_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_reading_type_reference\",\"sinkTable\":\"reading_type_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_source_reference\",\"sinkTable\":\"source_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_structure_reasoning_detail_reference\",\"sinkTable\":\"structure_reasoning_detail_reference\",\"columns\":\"ID, value\"}]')\n\n",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Send Completed when file not found_copy1_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pln_checkmarkdata_cur_mipins_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_utl_Send_Teams_Message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"dataFactorySubscription": {
										"value": "@pipeline().parameters.subscription_id",
										"type": "Expression"
									},
									"dataFactoryResourceGroup": {
										"value": "@pipeline().parameters.resource_group",
										"type": "Expression"
									},
									"pipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"teamsWebhookUrl": {
										"value": "@pipeline().parameters.webhook_url",
										"type": "Expression"
									},
									"activityName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityMessage": "Green Specialist Case file not found.",
									"activityDuration": {
										"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
										"type": "Expression"
									},
									"activityStatus": "Completed",
									"Colour": {
										"value": "@pipeline().parameters.completed_colour",
										"type": "Expression"
									},
									"Image": {
										"value": "@pipeline().parameters.completed_image",
										"type": "Expression"
									},
									"Message_title": "Unmanaged data - Green Specialist Case file not found.",
									"Message_subtitle": "Green Specialist Case file couldn't be found for today. Please check if Green Specialist Case spreadsheet exists in the source folder."
								}
							}
						},
						{
							"name": "pln_checkmark_harmonised_main",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pln_checkmark_standardised_main",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_checkmark_harmonised_main",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Record Green Specialist Case",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pln_checkmarkdata_cur_mipins_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Fail",
									"PipelineName": {
										"value": "@activity('pln_green_specialist_case_main').output.pipelineName",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@activity('pln_green_specialist_case_main').output.pipelineRunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@activity('pln_green_specialist_case_main').ExecutionStartTime",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@activity('pln_green_specialist_case_main').ExecutionEndTime",
										"type": "Expression"
									},
									"ErrorMessage": {
										"value": "@activity('pln_green_specialist_case_main').Error.message",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@activity('pln_green_specialist_case_main').Status",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@activity('pln_green_specialist_case_main').PipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@activity('pln_green_specialist_case_main').PipelineRunId",
										"type": "Expression"
									},
									"PipelineExecutionTimeInSec": {
										"value": "@activity('pln_green_specialist_case_main').Duration",
										"type": "Expression"
									},
									"ActivityType": {
										"value": "@activity('pln_green_specialist_case_main').ActivityType",
										"type": "Expression"
									},
									"DurationSeconds": {
										"value": "@div(sub(ticks(utcNow()), ticks(variables('start_time'))), 10000000)",
										"type": "Expression"
									},
									"AppInsCustomEventName": "ODW_Green_Specialist_Case_Master_Pipeline_Logs",
									"StatusCode": {
										"value": "@activity('pln_green_specialist_case_main').StatusCode",
										"type": "Expression"
									},
									"AppInsIKey": {
										"value": "@variables('apps_insights_ikey')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Send Green Specialist Case failed",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pln_checkmarkdata_cur_mipins_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_utl_Send_Teams_Message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"dataFactorySubscription": {
										"value": "@variables('subscription_id')",
										"type": "Expression"
									},
									"dataFactoryResourceGroup": {
										"value": "@variables('resource_group')",
										"type": "Expression"
									},
									"pipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"teamsWebhookUrl": {
										"value": "@variables('webhook_url')",
										"type": "Expression"
									},
									"activityName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityMessage": "Green Specialist Case data failed",
									"activityDuration": {
										"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(variables('start_time'),'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(variables('start_time'),'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
										"type": "Expression"
									},
									"activityStatus": "Failed",
									"Colour": {
										"value": "@variables('failed_colour')",
										"type": "Expression"
									},
									"Image": {
										"value": "@variables('failed_image')",
										"type": "Expression"
									},
									"Message_title": "Unmanaged data - Green Specialist Case Master pipeline failed",
									"Message_subtitle": "Green Specialist Case data load failed."
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Send Completed when file not found_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_utl_Send_Teams_Message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"dataFactorySubscription": {
										"value": "@pipeline().parameters.subscription_id",
										"type": "Expression"
									},
									"dataFactoryResourceGroup": {
										"value": "@pipeline().parameters.resource_group",
										"type": "Expression"
									},
									"pipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"teamsWebhookUrl": {
										"value": "@pipeline().parameters.webhook_url",
										"type": "Expression"
									},
									"activityName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityMessage": "Green Specialist Case file not found.",
									"activityDuration": {
										"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
										"type": "Expression"
									},
									"activityStatus": "Completed",
									"Colour": {
										"value": "@pipeline().parameters.completed_colour",
										"type": "Expression"
									},
									"Image": {
										"value": "@pipeline().parameters.completed_image",
										"type": "Expression"
									},
									"Message_title": "Unmanaged data - Green Specialist Case file not found.",
									"Message_subtitle": "Green Specialist Case file couldn't be found for today. Please check if Green Specialist Case spreadsheet exists in the source folder."
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"webhook_url": {
				"type": "string"
			},
			"subscription_id": {
				"type": "string"
			},
			"resource_group": {
				"type": "string"
			},
			"starting_colour": {
				"type": "string"
			},
			"on_progress_colour": {
				"type": "string"
			},
			"failed_colour": {
				"type": "string"
			},
			"start_time": {
				"type": "string"
			},
			"starting_image": {
				"type": "string"
			},
			"progress_image": {
				"type": "string"
			},
			"warning_image": {
				"type": "string"
			},
			"failed_image": {
				"type": "string"
			},
			"warning_colour": {
				"type": "string"
			},
			"horizon_feed": {
				"type": "array"
			},
			"apps_insights_ikey": {
				"type": "string"
			},
			"completed_colour": {
				"type": "string"
			},
			"completed_image": {
				"type": "string"
			}
		},
		"variables": {
			"execution_logs": {
				"type": "String"
			},
			"Post_Val_Return": {
				"type": "String"
			},
			"errorMsg": {
				"type": "String"
			}
		},
		"folder": {
			"name": "checkmarkdata"
		},
		"annotations": []
	}
}