workspace/pipeline/pln_copy_appeal_event_estimate_curated_mipins.json
{
	"name": "pln_copy_appeal_event_estimate_curated_mipins",
	"properties": {
		"activities": [
			{
				"name": "Set variable Start Time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable Start Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "appeal_event_estimate_curated_mipins_pipeline_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "appeal_event_estimate"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy_appeal_event_estimate_curated_mipins",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "drop table if exists odw.appeal_event_estimate_curated_mipins",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "appeal_event_estimate_sourceconn",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "appeal_event_estimate_sinkconn",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Sp_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_appeal_event_estimate_curated_mipins",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_event_estimate_curated_mipins_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@if(empty(concat(coalesce(activity('Lookup-LogStart').Error?.message, ''),coalesce(activity('copy_appeal_event_estimate_curated_mipins').Error?.message, ''))),null,concat(coalesce(activity('Lookup-LogStart').Error?.message, ''),coalesce(activity('copy_appeal_event_estimate_curated_mipins').Error?.message, '')))",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@if(and(not(equals(activity('copy_appeal_event_estimate_curated_mipins')?.Error?.Message, '')),not(equals(activity('copy_appeal_event_estimate_curated_mipins')?.Error?.Message, null))),0,activity('copy_appeal_event_estimate_curated_mipins').output.rowsCopied)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "appeal_event_estimate",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Record completed estimate event to odw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Sp_log_success",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "@if(or(or(not(empty(activity('Lookup-LogStart')?.Error?.Message)),not(empty(activity('copy_appeal_event_estimate_curated_mipins')?.Error?.Message))),not(empty(activity('Sp_log_success')?.Error?.Message))),'Failed','Success')",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('StartTime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@if(or(equals(activity('copy_appeal_event_estimate_curated_mipins')?.Error?.Message, ''),equals(activity('copy_appeal_event_estimate_curated_mipins')?.Error?.Message, null)),activity('copy_appeal_event_estimate_curated_mipins').output.rowsCopied,0)",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@concat(coalesce(activity('Lookup-LogStart')?.Error?.message, ''),coalesce(activity('copy_appeal_event_estimate_curated_mipins')?.Error?.message, ''),coalesce(activity('Sp_log_success')?.Error?.message, ''))",
							"type": "Expression"
						},
						"StatusMessage": {
							"value": "@if(or(or(not(empty(activity('Lookup-LogStart')?.Error?.Message)),not(empty(activity('copy_appeal_event_estimate_curated_mipins')?.Error?.Message))),not(empty(activity('Sp_log_success')?.Error?.Message))),'Failed copying data from ODW appeal estimate mipins event','Successfully copied data from ODW appeal estimate mipins event')",
							"type": "Expression"
						},
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"PipelineExecutionTimeInSec": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('StartTime'))), 10000000)",
							"type": "Expression"
						},
						"ActivityType": {
							"value": "copy_appeal_event_estimate_curated_mipins Activity",
							"type": "Expression"
						},
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('StartTime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": {
							"value": "@if(or(equals(activity('copy_appeal_event_estimate_curated_mipins')?.Error?.Message, ''),equals(activity('copy_appeal_event_estimate_curated_mipins')?.Error?.Message, null)),'200','500')",
							"type": "Expression"
						},
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"webhook_url": {
				"type": "string"
			},
			"subscription_id": {
				"type": "string"
			},
			"resource_group": {
				"type": "string"
			},
			"starting_colour": {
				"type": "string"
			},
			"on_progress_colour": {
				"type": "string"
			},
			"failed_colour": {
				"type": "string"
			},
			"start_time": {
				"type": "string"
			},
			"starting_image": {
				"type": "string"
			},
			"progress_image": {
				"type": "string"
			},
			"warning_image": {
				"type": "string"
			},
			"failed_image": {
				"type": "string"
			},
			"warning_colour": {
				"type": "string"
			},
			"apps_insights_ikey": {
				"type": "string",
				"defaultValue": "87864c3b-0d8b-4a98-b2c4-596ddf8fe123"
			},
			"completed_colour": {
				"type": "string"
			},
			"completed_image": {
				"type": "string"
			}
		},
		"variables": {
			"StartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "mipins"
		},
		"annotations": []
	}
}