workspace/pipeline/pln_entity_appeal_has.json
{
	"name": "pln_entity_appeal_has",
	"properties": {
		"activities": [
			{
				"name": "If_Run_AH_Standardised",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AH_Reset_LastErrorMessage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(pipeline().parameters.stages, 'standardised')\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "AH_ETL_Standardise",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_hzn_standardized_has_tables",
									"type": "NotebookReference"
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "pinssynspodw34",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"driverSize": "Small",
								"authentication": {
									"type": "MSI"
								}
							}
						},
						{
							"name": "AH_SetLastError_Standardise",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AH_ETL_Standardise",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "lastErrorMessage",
								"value": "@string(activity('AH_ETL_Standardise').Error.Message)\n"
							}
						},
						{
							"name": "AH_Log_Failure_Standardise",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "AH_SetLastError_Standardise",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Failure",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
									"EndTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
									"ErrorMessage": "@replace(\n  replace(\n    replace(variables('lastErrorMessage'),'\"',''''),\n    '\\r',' '\n  ),\n  '\\n',' '\n)\n",
									"StatusMessage": "@concat(pipeline().parameters.entityName, ' entity-specific standardised failed')\n",
									"AppInsIKey": "@string(\n  coalesce(\n    json(pipeline().parameters.runContextJson)?['appInsightsKey'],\n    json(pipeline().parameters.runContextJson)?['apps_insights_ikey'],\n    ''\n  )\n)\n"
								}
							}
						},
						{
							"name": "AH_AppendFailed_Standardise",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "AH_Log_Failure_Standardise",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "statusList",
								"value": "@json(concat(\n  '{',\n    '\"entity\":\"', pipeline().parameters.entityName, '\",',\n    '\"status\":\"Failed\",',\n    '\"stage\":\"entity_specific_standardised\",',\n    '\"durationSeconds\":', string(div(sub(ticks(utcNow()), int(variables('loopStartTicks'))), 10000000)), ',',\n    '\"error\":\"', replace(variables('lastErrorMessage'),'\"',''''), '\",',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))\n"
							}
						},
						{
							"name": "AH_MarkFailure_Standardise",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AH_AppendFailed_Standardise",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "hasFailure",
								"value": true
							}
						},
						{
							"name": "AH_MarkEntityFailed_Standardise",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AH_MarkFailure_Standardise",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "entityFailed",
								"value": true
							}
						},
						{
							"name": "AH_AppendSuccess_Standardise",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "AH_ETL_Standardise",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "statusList",
								"value": "@json(concat(\n  '{',\n    '\"entity\":\"', pipeline().parameters.entityName, '\",',\n    '\"status\":\"Succeeded\",',\n    '\"stage\":\"entity_specific_standardised\",',\n    '\"durationSeconds\":', string(div(sub(ticks(utcNow()), int(variables('loopStartTicks'))), 10000000)), ',',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))\n"
							}
						}
					]
				}
			},
			{
				"name": "If_Run_AH_Harmonised",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If_Run_AH_Standardised",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n  contains(pipeline().parameters.stages, 'harmonised'),\n  equals(variables('entityFailed'), false)\n)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "AH_ETL_Harmonise",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_sb_horizon_harmonised_appeal_has",
									"type": "NotebookReference"
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "pinssynspodw34",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"driverSize": "Small",
								"authentication": {
									"type": "MSI"
								}
							}
						},
						{
							"name": "AH_SetLastError_Harmonise",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AH_ETL_Harmonise",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "lastErrorMessage",
								"value": "@string(activity('AH_ETL_Harmonise').Error.Message)\n"
							}
						},
						{
							"name": "AH_Log_Failure_Harmonise",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "AH_SetLastError_Harmonise",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Failure",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')\n",
									"EndTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')\n",
									"ErrorMessage": "@replace(\n  replace(\n    replace(variables('lastErrorMessage'), '\\\"', ''''),\n    '\\r',' '\n  ),\n  '\\n',' '\n)\n",
									"StatusMessage": "@concat(pipeline().parameters.entityName, ' ENTITY-SPECIFIC harmonised failed')\n",
									"AppInsIKey": "@string(\n  coalesce(\n    json(pipeline().parameters.runContextJson)?['appInsightsKey'],\n    json(pipeline().parameters.runContextJson)?['apps_insights_ikey'],\n    ''\n  )\n)\n"
								}
							}
						},
						{
							"name": "AH_AppendFailed_Harmonised",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "AH_Log_Failure_Harmonise",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "statusList",
								"value": "@json(concat(\n  '{',\n    '\"entity\":\"', pipeline().parameters.entityName, '\",',\n    '\"status\":\"Failed\",',\n    '\"stage\":\"entity_specific_harmonised\",',\n    '\"durationSeconds\":', string(div(sub(ticks(utcNow()), int(variables('loopStartTicks'))), 10000000)), ',',\n    '\"error\":\"', replace(variables('lastErrorMessage'), '\\\"', ''''), '\",',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))\n"
							}
						},
						{
							"name": "AH_MarkFailure_Harmonise",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AH_AppendFailed_Harmonised",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "hasFailure",
								"value": true
							}
						},
						{
							"name": "AH_MarkEntityFailed_Harmonise",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AH_MarkFailure_Harmonise",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "entityFailed",
								"value": true
							}
						},
						{
							"name": "AH_AppendSuccess_Harmonise",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "AH_ETL_Harmonise",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "statusList",
								"value": "@json(concat(\n  '{',\n    '\"entity\":\"', pipeline().parameters.entityName, '\",',\n    '\"status\":\"Succeeded\",',\n    '\"stage\":\"entity_specific_harmonised\",',\n    '\"durationSeconds\":', string(div(sub(ticks(utcNow()), int(variables('loopStartTicks'))), 10000000)), ',',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))\n"
							}
						}
					]
				}
			},
			{
				"name": "If_Run_AH_Curated",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If_Run_AH_Harmonised",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n  contains(pipeline().parameters.stages,'curated'),\n  equals(variables('entityFailed'), false)\n)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "AH_ETL_Curated",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "appeals_has",
									"type": "NotebookReference"
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "pinssynspodw34",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"driverSize": "Small",
								"authentication": {
									"type": "MSI"
								}
							}
						},
						{
							"name": "AH_SetLastError_Curated",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AH_ETL_Curated",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "lastErrorMessage",
								"value": "@string(activity('AH_ETL_Curated').Error.Message)\n"
							}
						},
						{
							"name": "AH_Log_Failure_Curated",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "AH_SetLastError_Curated",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Failure",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')\n",
									"EndTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')\n",
									"ErrorMessage": "@replace(\n  replace(\n    replace(variables('lastErrorMessage'), '\\\"', ''''),\n    '\\r',' '\n  ),\n  '\\n',' '\n)\n",
									"StatusMessage": "@concat(pipeline().parameters.entityName, ' ENTITY-SPECIFIC curated failed')\n",
									"AppInsIKey": "@string(\n  coalesce(\n    json(pipeline().parameters.runContextJson)?['appInsightsKey'],\n    json(pipeline().parameters.runContextJson)?['apps_insights_ikey'],\n    ''\n  )\n)\n"
								}
							}
						},
						{
							"name": "AH_AppendFailed_Curated",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "AH_Log_Failure_Curated",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "statusList",
								"value": "@json(concat(\n  '{',\n    '\"entity\":\"', pipeline().parameters.entityName, '\",',\n    '\"status\":\"Failed\",',\n    '\"stage\":\"entity_specific_curated\",',\n    '\"durationSeconds\":', string(div(sub(ticks(utcNow()), int(variables('loopStartTicks'))), 10000000)), ',',\n    '\"error\":\"', replace(variables('lastErrorMessage'), '\\\"', ''''), '\",',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))\n"
							}
						},
						{
							"name": "AH_MarkFailure_Curated",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AH_AppendFailed_Curated",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "hasFailure",
								"value": true
							}
						},
						{
							"name": "AH_MarkEntityFailed_Curated",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "AH_MarkFailure_Curated",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "entityFailed",
								"value": true
							}
						},
						{
							"name": "AH_AppendSuccess_Curated",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "AH_ETL_Curated",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "statusList",
								"value": "@json(concat(\n  '{',\n    '\"entity\":\"', pipeline().parameters.entityName, '\",',\n    '\"status\":\"Succeeded\",',\n    '\"stage\":\"entity_specific_curated\",',\n    '\"durationSeconds\":', string(div(sub(ticks(utcNow()), int(variables('loopStartTicks'))), 10000000)), ',',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))\n"
							}
						}
					]
				}
			},
			{
				"name": "AH_Log_Start",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Start",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
						"EndTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
						"StatusMessage": "@concat(pipeline().parameters.entityName, ' ENTITY-SPECIFIC starting')",
						"AppInsIKey": "@string(\n  coalesce(\n    json(pipeline().parameters.runContextJson)?['appInsightsKey'],\n    json(pipeline().parameters.runContextJson)?['apps_insights_ikey'],\n    ''\n  )\n)\n"
					}
				}
			},
			{
				"name": "AH_Set_LoopStartTicks",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AH_Log_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "loopStartTicks",
					"value": "@string(ticks(utcNow()))\n"
				}
			},
			{
				"name": "AH_Reset_LastErrorMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AH_Set_LoopStartTicks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastErrorMessage",
					"value": {
						"value": "@string('')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AH_Build_ResultJson",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If_Run_AH_Curated",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "resultJson",
					"value": "@concat(\n  '{',\n    '\"hasFailure\":', toLower(string(variables('hasFailure'))), ',',\n    '\"results\":', string(variables('statusList')),\n  '}'\n)\n"
				}
			},
			{
				"name": "AH_Return_Result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "AH_Build_ResultJson",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "result",
							"value": {
								"type": "Expression",
								"content": "@variables('resultJson')\n"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"runContextJson": {
				"type": "string"
			},
			"entityName": {
				"type": "string"
			},
			"stages": {
				"type": "array",
				"defaultValue": [
					"standardised",
					"harmonised",
					"curated"
				]
			},
			"retryCount": {
				"type": "int",
				"defaultValue": 2
			}
		},
		"variables": {
			"hasFailure": {
				"type": "Boolean",
				"defaultValue": false
			},
			"entityFailed": {
				"type": "Boolean",
				"defaultValue": false
			},
			"loopStartTicks": {
				"type": "String",
				"defaultValue": "''"
			},
			"lastErrorMessage": {
				"type": "String",
				"defaultValue": "''"
			},
			"statusList": {
				"type": "Array",
				"defaultValue": []
			},
			"resultJson": {
				"type": "String",
				"defaultValue": "'{}'"
			}
		},
		"folder": {
			"name": "utils/Transform/EntitySpecifics/Entities"
		},
		"annotations": []
	}
}