workspace/pipeline/pln_aie_document_data.json
{
	"name": "pln_aie_document_data",
	"properties": {
		"description": "The Raw file for this source is to be manually stored in odw-raw/AIEDocumentData/YYYY-MM-DD/extract_file.csv",
		"activities": [
			{
				"name": "Raw to Std",
				"description": "Ingests raw data into the standardised table ",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Src to Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_raw_to_std",
						"type": "NotebookReference"
					},
					"parameters": {
						"source_folder": {
							"value": "AIEDocumentData",
							"type": "string"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Src to Raw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Record horizon AIE document data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AIEData",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Std to Hrm",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Raw to Std",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_horizon_harmonised_aie_document",
						"type": "NotebookReference"
					},
					"parameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Record horizon AIE document data",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Pipeline load started",
						"PipelineName": "@pipeline().Pipeline",
						"PipelineRunID": "@pipeline().RunId",
						"StartTime": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
						"StatusMessage": "Starting pipeline execution",
						"PipelineTriggerID": "@pipeline().TriggerId",
						"PipelineTriggerName": "@pipeline().TriggerName",
						"PipelineTriggerType": "@pipeline().TriggerType",
						"PipelineTriggeredbyPipelineName": "@pipeline()?.TriggeredByPipelineName",
						"PipelineTriggeredbyPipelineRunID": "@pipeline()?.TriggeredByPipelineRunId",
						"AppInsIKey": "@pipeline().parameters.apps_insights_ikey"
					}
				}
			},
			{
				"name": "Record AIE Document Data Completed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Std to Hrm",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "@if(or(equals(activity('Std to Hrm')?.Error?.Message, ''),equals(activity('Std to Hrm')?.Error?.Message, null)),'Successfully','Failed')",
							"type": "Expression"
						},
						"PipelineName": "@pipeline().Pipeline",
						"PipelineRunID": "@pipeline().RunId",
						"EndTime": "@utcNow()",
						"ErrorMessage": {
							"value": "@{if(or(equals(activity('Std to Hrm')?.Error?.Message, ''), equals(activity('Std to Hrm')?.Error?.Message, null)), ' ', activity('Std to Hrm')?.Error?.Message)}",
							"type": "Expression"
						},
						"StatusMessage": "Starting pipeline execution",
						"PipelineTriggerID": "@pipeline().TriggerId",
						"PipelineTriggerName": "@pipeline().TriggerName",
						"PipelineTriggerType": "@pipeline().TriggerType",
						"PipelineTriggeredbyPipelineName": "@pipeline()?.TriggeredByPipelineName",
						"PipelineTriggeredbyPipelineRunID": "@pipeline()?.TriggeredByPipelineRunId",
						"AppInsIKey": "@pipeline().parameters.apps_insights_ikey"
					}
				}
			}
		],
		"folder": {
			"name": "aie-extracts"
		},
		"annotations": []
	}
}