workspace/pipeline/pln_copy_appeal_event_estimate_curated_mipins.json
{
	"name": "pln_copy_appeal_event_estimate_curated_mipins",
	"properties": {
		"activities": [
			{
				"name": "Set variable Start Time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable Start Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "appeal_event_estimate_curated_mipins_pipeline_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "appeal_event_estimate"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_appeals_event_estimate_curated_mipins",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "drop table if exists odw.appeal_event_estimate_curated_mipins",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "appeal_event_estimate_sourceconn",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "appeal_event_estimate_sinkconn",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Record_Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy_appeals_event_estimate_curated_mipins",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_event_estimate",
					"value": {
						"value": "@activity('Copy_appeals_event_estimate_curated_mipins').output.rowsCopied",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Skipped",
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_event_estimate",
					"value": {
						"value": "@replace(concat(activity('Lookup-LogStart').Error?.message,'|',activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.message),'|','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_event_estimate_curated_mipins_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount_event_estimate')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "appeal_event_estimate",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_event_estimate_curated_mipins_pipeline_failed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_event_estimate')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "appeal_event_estimate",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Record completed appeal event estimate curated mipins",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy_appeals_event_estimate_curated_mipins",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "@if(\n    or(\n        equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, ''),\n        equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, null)\n    ),\n    'Successfully',\n    'Failed'\n)",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('StartTime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "div(sub(ticks(utcNow()), ticks(variables('StartTime'))), 10000000)",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@if(\n    or(\n        equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, ''),\n        equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, null)\n    ),\n    activity('Copy_appeals_event_estimate_curated_mipins').output.rowsCopied,\n    ''\n)",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@if(\n    or(\n        equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, ''),\n        equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, null)\n    ),\n    '',\n    activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message\n)",
							"type": "Expression"
						},
						"StatusMessage": {
							"value": "@if(\n    or(\n        equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, ''),\n        equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, null)\n    ),\n    'Successfully copied data from ODW appeal event estimate mipins event',\n    'Failed copying data from ODW appeal event estimate mipins event'\n)",
							"type": "Expression"
						},
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": {
							"value": "Copy Activity",
							"type": "Expression"
						},
						"DurationSeconds": {
							"value": "@activity('Copy_appeals_event_estimate_curated_mipins').output.copyDuration",
							"type": "Expression"
						},
						"StatusCode": {
							"value": "@if(\n    or(\n        equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, ''),\n        equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, null)\n    ),\n    '200',\n    '500'\n)",
							"type": "Expression"
						},
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy appeal event estimate curated mipins errorMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy_appeals_event_estimate_curated_mipins",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorMessage",
					"value": {
						"value": "@activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Send appeal event estimate curated mipins failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy appeal event estimate curated mipins errorMessage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "Copy appeal_event_estimate to curated mipins data failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(utcNow()),ticks(variables('StartTime'))),600000000),60)),'H:',string(mod(div(sub(ticks(utcNow()),ticks(variables('StartTime'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "Copy Data to appeal_event_estimate_curated_mipins Failed",
						"Message_subtitle": {
							"value": "@concat('Data copy to appeal_event_estimate_curated_mipins failed with the following error: ',variables('errorMessage'))",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "If pipeline failed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Record completed appeal event estimate curated mipins",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(or(equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, ''),equals(activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message, null)))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Fail pipeline",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@if(equals(variables('errorMessage'),''),activity('Copy_appeals_event_estimate_curated_mipins')?.Error?.Message,variables('errorMessage'))",
									"type": "Expression"
								},
								"errorCode": "PLN_COPY_APPEAL_EVENT_ESTIMATE_CURATED_MIPINS_FAILED"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"webhook_url": {
				"type": "string"
			},
			"subscription_id": {
				"type": "string"
			},
			"resource_group": {
				"type": "string"
			},
			"starting_colour": {
				"type": "string"
			},
			"on_progress_colour": {
				"type": "string"
			},
			"failed_colour": {
				"type": "string"
			},
			"start_time": {
				"type": "string"
			},
			"starting_image": {
				"type": "string"
			},
			"progress_image": {
				"type": "string"
			},
			"warning_image": {
				"type": "string"
			},
			"failed_image": {
				"type": "string"
			},
			"warning_colour": {
				"type": "string"
			},
			"apps_insights_ikey": {
				"type": "string",
				"defaultValue": "87864c3b-0d8b-4a98-b2c4-596ddf8fe123"
			},
			"completed_colour": {
				"type": "string"
			},
			"completed_image": {
				"type": "string"
			}
		},
		"variables": {
			"RowCount_event_estimate": {
				"type": "Integer"
			},
			"Error_event_estimate": {
				"type": "String"
			},
			"errorMessage": {
				"type": "String"
			},
			"StartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "mipins"
		},
		"annotations": []
	}
}