workspace/pipeline/pln_copy_casework_local_plans_mipins.json
{
	"name": "pln_copy_casework_local_plans_mipins",
	"properties": {
		"activities": [
			{
				"name": "Copy_unmanaged_data_odw_mipins_casework_local_plan",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "horizonId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "HZ Ref",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "localDevelopmentFrameworkId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LDF No",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "region",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pinsLpaName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "localPlanTitle",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "developmentPlanDocumentType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DPD Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "grade",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Grade",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "actualPublicationReg19Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Actual Publication Date_Reg 19",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "actualPublicationNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Actual Publication Notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "actualSubmissionReg22Date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Actual Submission Date_Reg 22",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "actualSubmissionNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Actual Submission Notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "fiveYearSupplyOfLand",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FIVE YEAR SUPPLY OF LAND",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "inspectorNames",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "INSPECTOR (S) ",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "mentorOrNamedContact",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Mentor/named contact",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "programmeOfficer",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Programme Officer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "appointmentDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Date of Appointment",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "appointmentNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Date of Appointment Notes",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "actualHearingStartDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Actual Hearing Start Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "actualHearingStartNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Actual Hearing Start Notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "hearingsCloseDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Hearings Close Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "hearingsCloseNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Hearings Close Notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "prepDays",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Prep days*",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "hearingDays",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Hearing days*",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "siteVisitDays",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "SV days*",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "travelDays",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Travel days",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "reptgDays",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Reptg days*",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "totalDays",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total Days",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "localDevelopmentFrameworkRef",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Days LDF Ref",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "factCheckReceiptDueDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Date Given To LPA For Receipt of Fact Check",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "factCheckReceiptDueDateNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Date Given To LPA For Receipt of Fact Check Notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "draftReportSentToQAGroupDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Draft Report Sent to QA Group Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "draftReportSentToQAGroupNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Draft Report Sent to QA Group Notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "qaPanel",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "QA Panel",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "factCheckReportReceivedFromINSPDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Fact Check Report Received From INSP Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "factCheckReportReceivedFromINSPNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Fact Check Report Received From INSP Notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "factCheckReportDispatchDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Fact Check Report Dispatch Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "factCheckReportDispatchNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Fact Check Report Dispatch Notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "finalReportIssuedDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Final Report Issued Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "finalReportIssuedNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Final Report Issued Notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "adoptionDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Adoption Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "adoptionNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Adoption Notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "withdrawnDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Withdrawn Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "withdrawnNotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Withdrawn Notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "totalWeeks",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Total Weeks",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "hearingCloseToFinalReport",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Hearing Close to_ final _report",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "notes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NOTES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "onsLPACode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPA Lookup",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "submissionMonthYear",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Submission Date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "reportsIssuedMonthYear",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Reports Issued",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_local_plan",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_target_case_work_local_plan",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Record_Count_tpo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy_unmanaged_data_odw_mipins_casework_local_plan",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_event",
					"value": {
						"value": "@activity('Copy_unmanaged_data_odw_mipins_casework_local_plan').output.rowscopied\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Error_copy_tpo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Record_Count_tpo",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_event",
					"value": {
						"value": "@replace(concat(activity('Lookup-LogStart').Error?.message,'|',\nactivity('Copy_unmanaged_data_odw_mipins_casework_local_plan')?.Error?.message),'|','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_failed_copy_tpo",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error_copy_tpo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "green_specialist_case_curated_mipins_pipeline_failed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_event')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "PBI_load_casework_local_plan",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_success_copy_tpo",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record_Count_tpo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "casework_local_plan_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount_event')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "PBI_load_casework_local_plan",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "casework_local_plan_pipeline"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "pbi_local_plans"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"RowCount_event": {
				"type": "Integer"
			},
			"Error_event": {
				"type": "String"
			},
			"RowCount_Serviceuser": {
				"type": "Integer"
			},
			"Error_Serviceuser": {
				"type": "String"
			},
			"Record_Count_EntraID": {
				"type": "Integer"
			},
			"Error_EntraID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "casework_local_plan/layers/4-curated_mipins"
		},
		"annotations": []
	}
}