workspace/pipeline/pln_entraid_ingest.json
{
	"name": "pln_entraid_ingest",
	"properties": {
		"activities": [
			{
				"name": "Set loop start",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "loopStartTicks",
					"value": {
						"value": "@string(ticks(utcNow()))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Reset lastErrorMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set loop start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastErrorMessage",
					"value": {
						"value": "@string('')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy AAD Users",
				"description": "Calls the Entra ID Graph API and retrieves a list of users and their attributes, writing the raw JSON to a date-stamped folder in odw-raw.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Reset lastErrorMessage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"AbsoluteUrl": "$['@odata.nextLink']"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_entra_id",
						"type": "DatasetReference",
						"parameters": {
							"query": "users?$select=surname,givenName,userPrincipalName,id,employeeId"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "entra_id_users",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "entraid.json"
						}
					}
				]
			},
			{
				"name": "Set rowsCopied",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy AAD Users",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rowsCopied",
					"value": {
						"value": "@int(coalesce(activity('Copy AAD Users').output.rowsCopied,'0'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append success",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set rowsCopied",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "entraIdStatus",
					"value": {
						"value": "@json(concat(\n  '{',\n    '\"entity\":\"EntraID Users\",',\n    '\"status\":\"Succeeded\",',\n    '\"recordsIngested\":', string(variables('rowsCopied')), ',',\n    '\"durationSeconds\":', string(div(sub(ticks(utcNow()), int(variables('loopStartTicks'))), 10000000)), ',',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set lastErrorMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy AAD Users",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastErrorMessage",
					"value": {
						"value": "@replace(\n  replace(\n    replace(string(activity('Copy AAD Users').Error.Message), '\"', ''''),\n    '\\r', ' '\n  ),\n  '\\n', ' '\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append failure",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set lastErrorMessage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "entraIdStatus",
					"value": {
						"value": "@json(concat(\n  '{',\n    '\"entity\":\"EntraID Users\",',\n    '\"status\":\"Failed\",',\n    '\"recordsIngested\":0,',\n    '\"durationSeconds\":0,',\n    '\"error\":\"', replace(variables('lastErrorMessage'),'\\\"',''''), '\",',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Mark Failure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append failure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "hasFailure",
					"value": true
				}
			},
			{
				"name": "Output JSON",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append success",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Mark Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "entraIdStatusJson",
					"value": {
						"value": "@string(variables('entraIdStatus'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Return result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Output JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "result",
							"value": {
								"type": "Expression",
								"content": "@concat(\n  '{',\n  '\"hasFailure\":', toLower(string(variables('hasFailure'))), ',',\n  '\"results\":', string(variables('entraIdStatus')),\n  '}'\n)"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"hasFailure": {
				"type": "Boolean",
				"defaultValue": false
			},
			"rowsCopied": {
				"type": "Integer",
				"defaultValue": 0
			},
			"lastErrorMessage": {
				"type": "String",
				"defaultValue": ""
			},
			"loopStartTicks": {
				"type": "String"
			},
			"entraIdStatus": {
				"type": "Array",
				"defaultValue": []
			},
			"entraIdStatusJson": {
				"type": "String",
				"defaultValue": "'[]'"
			}
		},
		"folder": {
			"name": "EntraID/0-raw"
		},
		"annotations": []
	}
}
