workspace/pipeline/pln_specialist_cases.json
{
	"name": "pln_specialist_cases",
	"properties": {
		"activities": [
			{
				"name": "Notify Post Valication email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set var url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@variables('var_logic_app_url')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"subject": "Post Validation check failed",
						"bodyHtml": "Post Validation check failed. Duplicate records found",
						"storageAccountName": "pinsstodwdevuks9h80mb",
						"sroragePath": "https://pinsstodwdevuks9h80mb.dfs.core.windows.net/odw-raw/Green_Specialist_Case/2025-11-27/rejected",
						"fileName": "Rohitgreen_specialist_case_20251127.csv"
					}
				}
			},
			{
				"name": "findurl",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_specialist_case_standardised_post_validation",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Set var url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "findurl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_logic_app_url",
					"value": {
						"value": "@json(activity('findurl').output.status.output.result.exitValue).logic_app_url",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var_logic_app_url": {
				"type": "String"
			}
		},
		"folder": {
			"name": "specialist_cases"
		},
		"annotations": []
	}
}