workspace/pipeline/pln_trigger_function_app.json
{
	"name": "pln_trigger_function_app",
	"properties": {
		"activities": [
			{
				"name": "Set Secret Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "secret_name",
					"value": {
						"value": "@concat('function-url-', replace(pipeline().parameters.function_name, '-', ''))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "List secrets",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Secret Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(pipeline().parameters.Key_Vault_Url, 'secrets?api-version=', pipeline().parameters.api_version)\n",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "PinsIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "If secret exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "List secrets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(\n  string(activity('List secrets').output.value),\n  concat('/secrets/', variables('secret_name'))\n)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "No New Messages",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "Messages",
										"value": {
											"type": "Int",
											"content": 0
										}
									}
								],
								"setSystemVariable": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Get Function Secret",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat(pipeline().parameters.Key_Vault_Url, 'secrets/', variables('secret_name'), '?api-version=', pipeline().parameters.api_version)\n",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "PinsIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						},
						{
							"name": "Trigger Function",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Get Function Secret",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@activity('Get Function Secret').output.value",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "PinsIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						},
						{
							"name": "New Messages",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Trigger Function",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "Messages",
										"value": {
											"type": "Expression",
											"content": "@activity('Trigger Function').output.count"
										}
									}
								],
								"setSystemVariable": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"function_name": {
				"type": "string"
			},
			"api_version": {
				"type": "string",
				"defaultValue": "7.4"
			},
			"Key_Vault_Url": {
				"type": "string"
			}
		},
		"variables": {
			"secret_name": {
				"type": "String"
			},
			"Key_Vault_Url": {
				"type": "String"
			},
			"function_secret": {
				"type": "String"
			}
		},
		"folder": {
			"name": "utils"
		},
		"annotations": []
	}
}