workspace/pipeline/pln_create_table_from_scheama.json
{
	"name": "pln_create_table_from_scheama",
	"properties": {
		"activities": [
			{
				"name": "Get Service Bus feed",
				"description": "Get the enabled service bus feed from master pipeline config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT STRING_AGG(entity_name, ',') AS entities\nFROM [odw_config_db].[dbo].[main_pipeline_config]\nWHERE is_enabled = 1\nAND System_name = 'Service bus' and entity_name='service-user'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_odw_main_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set Service Bus feed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Service Bus feed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "service_bus_feed",
					"value": {
						"value": "@split(activity('Get Service Bus feed').output.value[0].entities, ',')\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Service Bus feed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('service_bus_feed')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Create standardised table",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "create_table_from_schema",
									"type": "NotebookReference"
								},
								"parameters": {
									"db_name": {
										"value": "odw_standardised_db",
										"type": "string"
									},
									"entity_name": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			}
		],
		"variables": {
			"webhook_url": {
				"type": "String"
			},
			"subscription_id": {
				"type": "String"
			},
			"resource_group": {
				"type": "String"
			},
			"starting_colour": {
				"type": "String",
				"defaultValue": "accent"
			},
			"on_progress_colour": {
				"type": "String",
				"defaultValue": "light"
			},
			"failed_colour": {
				"type": "String",
				"defaultValue": "attention"
			},
			"start_time": {
				"type": "String"
			},
			"starting_image": {
				"type": "String",
				"defaultValue": "https://tse1.mm.bing.net/th?q=Go+Green+Light+PNG&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.5&pid=InlineBlock&mkt=en-GB&cc=GB&setlang=en&adlt=strict&t=1&mw=247"
			},
			"progress_image": {
				"type": "String",
				"defaultValue": "https://tse2.mm.bing.net/th/id/OIP.1-FXYnONJTX2Hxzqf3wERAAAAA?w=192&h=190&c=7&r=0&o=5&dpr=1.5&pid=1.7"
			},
			"warning_image": {
				"type": "String",
				"defaultValue": "https://tse2.mm.bing.net/th/id/OIP.FCX8ixVm5MGoziIpTpdTJwHaMc?w=115&h=184&c=7&r=0&o=5&dpr=1.5&pid=1.7"
			},
			"failed_image": {
				"type": "String",
				"defaultValue": "https://tse4.mm.bing.net/th/id/OIP.QvdayQCDbhZL5DsXkaBObwAAAA?w=160&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"
			},
			"warning_colour": {
				"type": "String",
				"defaultValue": "warning"
			},
			"completed_colour": {
				"type": "String",
				"defaultValue": "good"
			},
			"completed_image": {
				"type": "String",
				"defaultValue": "https://tse3.mm.bing.net/th/id/OIP.YbfIXY-IWYnBkzHvhrXiXAHaHa?w=177&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"
			},
			"Key_Vault_Url": {
				"type": "String"
			},
			"Key_Vault_API": {
				"type": "String",
				"defaultValue": "?api-version=7.0"
			},
			"service_bus_feed": {
				"type": "Array"
			},
			"horizon_feed": {
				"type": "Array"
			},
			"apps_insights_ikey": {
				"type": "String"
			},
			"H_NoteBook_errorMessage": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "utils/Master"
		},
		"annotations": []
	}
}