workspace/pipeline/pln_green_specialist_case_odw_src_odw_raw.json
{
	"name": "pln_green_specialist_case_odw_src_odw_raw",
	"properties": {
		"activities": [
			{
				"name": "Copy xlsx to odw-raw green_specialist_case",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureFileStorageReadSettings",
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_odwdatalab_green_case_specialist",
						"type": "DatasetReference",
						"parameters": {
							"ds_Folder_Path": {
								"value": "@pipeline().parameters.Folder_Path",
								"type": "Expression"
							},
							"ds_Env_Type": {
								"value": "@if( contains(toLower(pipeline().DataFactory), 'dev'), 'dev', if( contains(toLower(pipeline().DataFactory), 'test'), 'test', 'prod' ) )",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_odw_raw_greencase_specialist_dest",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get xlsx File recent folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy xlsx to odw-raw green_specialist_case",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_odw_raw_get_recent_green_specialist_case_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If recent file folder exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get xlsx File recent folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get xlsx File recent folder').output.exists,true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Dummy",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy xlsx to green case specialist csv file",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Green Case Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Green Case Type",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Green Case ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Green Case ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Full Reference",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Full Reference",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Horizon ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Horizon ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Linked Green Case ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Linked Green Case ID",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Case Officer Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Case Officer Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Case Officer Email",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Case Officer Email",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Appeal Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Appeal Type",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Procedure",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Procedure",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Processing State",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Processing State",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "LPA Code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LPA Code",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "LPA Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LPA Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Appellant Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Appellant Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Agent Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Agent Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Site Address Description",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Site Address Description",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Site Postcode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Site Postcode",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Other Party Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Other Party Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Receipt Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Receipt Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Valid Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Valid Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Start Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Start Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Qu Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Qu Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Qu Rec Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Qu Rec Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "6 Weeks",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "6 Weeks",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "8 Weeks",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "8 Weeks",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "9 Weeks",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "9 Weeks",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Event Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Event Type",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Event Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Event Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Event Time",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Event Time",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Inspector Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Inspector Name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Inspector Staff Number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Inspector Staff Number",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Decision",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Decision",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Decision Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Decision Date",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Date Withdrawn or Turned Away",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Date Withdrawn or Turned Away",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Comments",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Comments",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Active",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Active",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false,
										"dateFormat": "dd/MM/YYYY"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_odw_raw_green_case_specialist_archive_src",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_odw_raw_green_specialist_case_dest",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Folder_Path": {
				"type": "string",
				"defaultValue": "ODW/Green_Specialist_Case"
			}
		},
		"folder": {
			"name": "green_specialist_case/layers/0-raw"
		},
		"annotations": []
	}
}
