workspace/pipeline/pln_aie_ingest.json
{
	"name": "pln_aie_ingest",
	"properties": {
		"description": "Pipeline to gather the AIE csv files from data labs and ingest into RAW. Called by pln_api_ingest.",
		"activities": [
			{
				"name": "Set loop start",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "loopStartTicks",
					"value": {
						"value": "@string(ticks(utcNow()))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Environment",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set loop start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "env",
					"value": {
						"value": "@if(\n    equals(pipeline().DataFactory, 'pins-synw-odw-prod-uks'),\n    'PROD',\n    if(\n        equals(pipeline().DataFactory, 'pins-synw-odw-test-uks'),\n        'TEST',\n        if(\n            equals(pipeline().DataFactory, 'pins-synw-odw-build-uks'),\n            'BUILD',\n            'DEV'\n        )\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata Of CSVs",
				"description": "Getting the Metadata of the csv files in the AIE data labs folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set Environment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AIEFileDataLabs",
						"type": "DatasetReference",
						"parameters": {
							"env": {
								"value": "@variables('env')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureFileStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "For Each AIE Document",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Of CSVs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Of CSVs').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 2,
					"activities": [
						{
							"name": "Wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						},
						{
							"name": "Copy File",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Wait",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:20:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureFileStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AIEFileDataLabsCopier",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"env": {
											"value": "@variables('env')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AIEFile1Raw",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Log Success",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Completion",
									"StartTime": {
										"value": "@activity('Copy File').ExecutionStartTime",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@activity('Copy File').ExecutionEndTime",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat('Copied AIE extract successfully: ', item().name)",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@activity('Copy File').PipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@activity('Copy File').PipelineRunId",
										"type": "Expression"
									},
									"PipelineExecutionTimeInSec": {
										"value": "@activity('Copy File').Duration",
										"type": "Expression"
									},
									"ActivityType": {
										"value": "@activity('Copy File').ActivityType",
										"type": "Expression"
									},
									"DurationSeconds": {
										"value": "@activity('Copy File').Duration",
										"type": "Expression"
									},
									"AppInsCustomEventName": "ODW_Master_Pipeline_Logs",
									"StatusCode": {
										"value": "@activity('Copy File').StatusCode",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log Failure",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy File",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Fail",
									"StartTime": {
										"value": "@activity('Copy File').ExecutionStartTime",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@activity('Copy File').ExecutionEndTime",
										"type": "Expression"
									},
									"ErrorMessage": {
										"value": "@activity('Copy File').Error.message",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat('Failed to copy AIE extract: ', item().name)",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@activity('Copy File').PipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@activity('Copy File').PipelineRunId",
										"type": "Expression"
									},
									"PipelineExecutionTimeInSec": {
										"value": "@activity('Copy File').Duration",
										"type": "Expression"
									},
									"ActivityType": {
										"value": "@activity('Copy File').ActivityType",
										"type": "Expression"
									},
									"DurationSeconds": {
										"value": "@activity('Copy File').Duration",
										"type": "Expression"
									},
									"AppInsCustomEventName": "ODW_Master_Pipeline_Logs",
									"StatusCode": {
										"value": "@activity('Copy File').StatusCode",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Append success",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "For Each AIE Document",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "aieStatus",
					"value": {
						"value": "@json(concat(\n  '{',\n    '\"entity\":\"AIE Documents\",',\n    '\"status\":\"Succeeded\",',\n    '\"recordsIngested\":0,',\n    '\"durationSeconds\":', string(div(sub(ticks(utcNow()), int(variables('loopStartTicks'))), 10000000)), ',',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append failure meta",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata Of CSVs",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "aieStatus",
					"value": {
						"value": "@json(concat(\n  '{',\n    '\"entity\":\"AIE Documents\",',\n    '\"status\":\"Failed\",',\n    '\"recordsIngested\":0,',\n    '\"durationSeconds\":0,',\n    '\"error\":\"', replace(replace(replace(string(activity('Get Metadata Of CSVs').Error.Message), '\"', ''''), '\\r', ' '), '\\n', ' '), '\",',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Mark Failure meta",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append failure meta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "hasFailure",
					"value": true
				}
			},
			{
				"name": "Append failure foreach",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "For Each AIE Document",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "aieStatus",
					"value": {
						"value": "@json(concat(\n  '{',\n    '\"entity\":\"AIE Documents\",',\n    '\"status\":\"Failed\",',\n    '\"recordsIngested\":0,',\n    '\"durationSeconds\":0,',\n    '\"error\":\"One or more AIE file copies failed. See per-file logs for details.\",',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Mark Failure foreach",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append failure foreach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "hasFailure",
					"value": true
				}
			},
			{
				"name": "Output JSON",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append success",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Mark Failure meta",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Mark Failure foreach",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "aieStatusJson",
					"value": {
						"value": "@string(variables('aieStatus'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Return result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Output JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "result",
							"value": {
								"type": "Expression",
								"content": "@concat(\n  '{',\n  '\"hasFailure\":', toLower(string(variables('hasFailure'))), ',',\n  '\"results\":', string(variables('aieStatus')),\n  '}'\n)"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"hasFailure": {
				"type": "Boolean",
				"defaultValue": false
			},
			"loopStartTicks": {
				"type": "String"
			},
			"aieStatus": {
				"type": "Array",
				"defaultValue": []
			},
			"aieStatusJson": {
				"type": "String",
				"defaultValue": "'[]'"
			},
			"env": {
				"type": "String"
			}
		},
		"folder": {
			"name": "utils/Ingest"
		},
		"annotations": []
	}
}
