workspace/pipeline/pln_listed_building_ingest.json
{
	"name": "pln_listed_building_ingest",
	"properties": {
		"activities": [
			{
				"name": "Log Start",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Start",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"StatusMessage": "Listed Buildings RAW ingest starting",
						"AppInsCustomEventName": "ODW_Master_Pipeline_Logs"
					}
				}
			},
			{
				"name": "Set loop start",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Log Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "loopStartTicks",
					"value": {
						"value": "@string(ticks(utcNow()))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Reset lastErrorMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set loop start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastErrorMessage",
					"value": {
						"value": "@string('')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Listed Buildings",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Reset lastErrorMessage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ListedBuildings",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "listed_building",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy Listed Building Outlines",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy Listed Buildings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ListedBuildingOutline",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "listed_building_outline",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log completion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy Listed Building Outlines",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"StatusMessage": "Listed Buildings RAW ingest completed",
						"AppInsCustomEventName": "ODW_Master_Pipeline_Logs"
					}
				}
			},
			{
				"name": "Append success",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Log completion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "listedBuildingStatus",
					"value": {
						"value": "@json(concat(\n  '{',\n    '\"entity\":\"Listed Buildings\",',\n    '\"status\":\"Succeeded\",',\n    '\"recordsIngested\":0,',\n    '\"durationSeconds\":', string(div(sub(ticks(utcNow()), int(variables('loopStartTicks'))), 10000000)), ',',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set lastErrorMessage LB",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy Listed Buildings",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastErrorMessage",
					"value": {
						"value": "@replace(\n  replace(\n    replace(string(activity('Copy Listed Buildings').Error.Message), '\"', ''''),\n    '\\r', ' '\n  ),\n  '\\n', ' '\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log failure LB",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set lastErrorMessage LB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Failure",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@replace(\n  replace(\n    replace(variables('lastErrorMessage'), '\"', ''''),\n    '\\r', ' '\n  ),\n  '\\n', ' '\n)",
							"type": "Expression"
						},
						"StatusMessage": "Listed Buildings RAW ingest failed",
						"AppInsCustomEventName": "ODW_Master_Pipeline_Logs"
					}
				}
			},
			{
				"name": "Append failure LB",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Log failure LB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "listedBuildingStatus",
					"value": {
						"value": "@json(concat(\n  '{',\n    '\"entity\":\"Listed Buildings\",',\n    '\"status\":\"Failed\",',\n    '\"recordsIngested\":0,',\n    '\"durationSeconds\":0,',\n    '\"error\":\"', replace(variables('lastErrorMessage'),'\\\"',''''), '\",',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Mark Failure LB",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append failure LB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "hasFailure",
					"value": true
				}
			},
			{
				"name": "Set lastErrorMessage LBO",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy Listed Building Outlines",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastErrorMessage",
					"value": {
						"value": "@replace(\n  replace(\n    replace(string(activity('Copy Listed Building Outlines').Error.Message), '\"', ''''),\n    '\\r', ' '\n  ),\n  '\\n', ' '\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log failure LBO",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set lastErrorMessage LBO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Failure",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@replace(\n  replace(\n    replace(variables('lastErrorMessage'), '\"', ''''),\n    '\\r', ' '\n  ),\n  '\\n', ' '\n)",
							"type": "Expression"
						},
						"StatusMessage": "Listed Building Outlines RAW ingest failed",
						"AppInsCustomEventName": "ODW_Master_Pipeline_Logs"
					}
				}
			},
			{
				"name": "Append failure LBO",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Log failure LBO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "listedBuildingStatus",
					"value": {
						"value": "@json(concat(\n  '{',\n    '\"entity\":\"Listed Building Outlines\",',\n    '\"status\":\"Failed\",',\n    '\"recordsIngested\":0,',\n    '\"durationSeconds\":0,',\n    '\"error\":\"', replace(variables('lastErrorMessage'),'\\\"',''''), '\",',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Mark Failure LBO",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append failure LBO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "hasFailure",
					"value": true
				}
			},
			{
				"name": "Output JSON",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append success",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Mark Failure LB",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Mark Failure LBO",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "listedBuildingStatusJson",
					"value": {
						"value": "@string(variables('listedBuildingStatus'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Return result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Output JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "result",
							"value": {
								"type": "Expression",
								"content": "@concat(\n  '{',\n  '\"hasFailure\":', toLower(string(variables('hasFailure'))), ',',\n  '\"results\":', string(variables('listedBuildingStatus')),\n  '}'\n)"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"hasFailure": {
				"type": "Boolean",
				"defaultValue": false
			},
			"lastErrorMessage": {
				"type": "String"
			},
			"loopStartTicks": {
				"type": "String"
			},
			"listedBuildingStatus": {
				"type": "Array",
				"defaultValue": []
			},
			"listedBuildingStatusJson": {
				"type": "String",
				"defaultValue": "'[]'"
			}
		},
		"folder": {
			"name": "utils/Ingest"
		},
		"annotations": []
	}
}
