workspace/pipeline/pln_copy_nsip_project_to_mipins.json
{
	"name": "pln_copy_nsip_project_to_mipins",
	"properties": {
		"activities": [
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable Start Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "NSIP_curated_mipins_pipeline_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "NSIP Project"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy NSIP Project",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "drop table if exists [odw].[nsip_project_curated_mipins]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NSIPProject",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "nsip_project_curated_mipins",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Record_Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy NSIP Project",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_NSIP Project",
					"value": {
						"value": "@activity('Copy NSIP Project').output.rowscopied",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_update dim_source_system",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Live].[upd_dim_source_system]",
					"storedProcedureParameters": {
						"refresh_date": {
							"value": {
								"value": "@utcNow('yyyy-MM-ddTHH:mm:ss.fff')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"source_system": {
							"value": "NSIP Project",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set_PipelineStatus_Success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "NSIP_curated_mipins_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount_NSIP Project')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.Runid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "NSIP Project",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Error_NSIP Project",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_PipelineStatus_Failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_NSIP",
					"value": {
						"value": "@replace(concat(activity('Lookup-LogStart').Error?.message,'|',activity('Copy NSIP Project').Error?.message,'|',activity('SP_update dim_source_system').Error?.message),'|','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error_NSIP Project",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "NSIP_curated_mipins_pipeline_failed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_NSIP')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.Runid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "NSIP Project",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send_Teams_Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Sp_log_failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"parameters": {
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"activityMessage": {
							"value": "@variables('Error_NSIP')",
							"type": "Expression"
						},
						"activityStatus": "Failed"
					}
				}
			},
			{
				"name": "Check_Failure",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Record completed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(variables('Error_NSIP')))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Fail_Pipeline",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@variables('Error_NSIP')",
									"type": "Expression"
								},
								"errorCode": "PipelineFailed"
							}
						}
					]
				}
			},
			{
				"name": "Record completed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Sp_log_failed",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Sp_log_success",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "@variables('PipelineStatus')",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('StartTime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@if(equals(variables('PipelineStatus'),'Failed'),0,variables('RowCount_NSIP Project'))",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('Error_NSIP')",
							"type": "Expression"
						},
						"StatusMessage": {
							"value": "@if(equals(variables('PipelineStatus'),'Failed'),'Failed copying NSIP Project','Successfully copied NSIP Project')",
							"type": "Expression"
						},
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@coalesce(pipeline()?.TriggeredByPipelineName, '')",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@coalesce(pipeline()?.TriggeredByPipelineRunId, '')",
							"type": "Expression"
						},
						"PipelineExecutionTimeInSec": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('StartTime'))), 10000000)",
							"type": "Expression"
						},
						"ActivityType": {
							"value": "@concat('Copy NSIP Project',' Activity')",
							"type": "Expression"
						},
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('StartTime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": {
							"value": "@if(equals(variables('PipelineStatus'),'Failed'),'500','200')",
							"type": "Expression"
						},
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable Start Time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_PipelineStatus_Failed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SP_update dim_source_system",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineStatus",
					"value": "Failed"
				}
			},
			{
				"name": "Set_PipelineStatus_Success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SP_update dim_source_system",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineStatus",
					"value": "Success"
				}
			}
		],
		"parameters": {
			"apps_insights_ikey": {
				"type": "string",
				"defaultValue": "87864c3b-0d8b-4a98-b2c4-596ddf8fe123"
			}
		},
		"variables": {
			"RowCount_NSIP_Project": {
				"type": "Integer"
			},
			"RowCount_Serviceuser": {
				"type": "Integer"
			},
			"Error_Serviceuser": {
				"type": "String"
			},
			"Record_Count_EntraID": {
				"type": "Integer"
			},
			"Error_EntraID": {
				"type": "String"
			},
			"StartTime": {
				"type": "String"
			},
			"PipelineStatus": {
				"type": "String"
			},
			"RowCount_NSIP Project": {
				"type": "Integer"
			},
			"Error_NSIP": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"folder": {
		"name": "nsip project"
	}
}