workspace/pipeline/pln_specialist_case_master.json
{
	"name": "pln_specialist_case_master",
	"properties": {
		"activities": [
			{
				"name": "Notebook Post Check Validation",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_green_specialist_case_standardised_post_validation_check",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Set Json Logging Output",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Notebook Post Check Validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Json_Logging_Output",
					"value": {
						"value": "@activity('Notebook Post Check Validation').output.status.output.result.exitValue.logging_info",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If validation success",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Notebook Post Check Validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(json(activity('Notebook Post Check Validation').output.status.output.result.exitValue).validation_summary.validation_status,'Failed')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Post Validation Notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_specialist_case_post_validation_email_notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Json_Output": {
										"value": "@activity('Notebook Post Check Validation').output.status.output.result.exitValue",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Json_Logging_Output": {
				"type": "String"
			},
			"Json_Validation_Output": {
				"type": "String"
			}
		},
		"folder": {
			"name": "utils/Master"
		},
		"annotations": []
	}
}