workspace/pipeline/pln_checkmarkdata_main.json
{
	"name": "pln_checkmarkdata_main",
	"properties": {
		"activities": [
			{
				"name": "Record_Loading_AppIns",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "OnProgress",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"StatusMessage": "Loading Checkmark data",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SetCuratedStartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CuratedStartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "pln_raw_checkmark_data_odw_raw_src",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Record_Loading_AppIns",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetCuratedStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_raw_checkmark_data_odw_raw_src",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Record completed raw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_raw_checkmark_data_odw_raw_src",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StatusMessage": "Checkmark raw stage completed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Record raw failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_raw_checkmark_data_odw_raw_src",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Fail",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('CuratedStartTime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@substring(activity('pln_raw_checkmark_data_odw_raw_src').error.message, 0, 2000)",
							"type": "Expression"
						},
						"StatusMessage": "Checkmark raw stage failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('CuratedStartTime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pln_checkmark_standardised_main",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_raw_checkmark_data_odw_raw_src",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_checkmark_standardised_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Record completed standardised",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_checkmark_standardised_main",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StatusMessage": "Checkmark standardised stage completed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Record standardised failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_checkmark_standardised_main",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Fail",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('CuratedStartTime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@substring(activity('pln_checkmark_standardised_main').error.message, 0, 2000)",
							"type": "Expression"
						},
						"StatusMessage": "Checkmark standardised stage failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('CuratedStartTime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pln_checkmark_harmonised_main",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_checkmark_standardised_main",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_checkmark_harmonised_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Record completed harmonised",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_checkmark_harmonised_main",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StatusMessage": "Checkmark harmonised stage completed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Record harmonised failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_checkmark_harmonised_main",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Fail",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('CuratedStartTime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@substring(activity('pln_checkmark_harmonised_main').error.message, 0, 2000)",
							"type": "Expression"
						},
						"StatusMessage": "Checkmark harmonised stage failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('CuratedStartTime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pln_checkmark_data_curated_main",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_checkmark_harmonised_main",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_checkmarkdata_curated_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Record completed curated",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_checkmark_data_curated_main",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StatusMessage": "Checkmark curated stage completed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Record curated failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_checkmark_data_curated_main",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Fail",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('CuratedStartTime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@substring(activity('pln_checkmark_data_curated_main').error.message, 0, 2000)",
							"type": "Expression"
						},
						"StatusMessage": "Checkmark curated stage failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('CuratedStartTime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pln_checkmarkdata_cur_mipins",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_checkmark_data_curated_main",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_checkmarkdata_cur_mipins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"TableConfig": {
							"value": "@json('[{\"sourceTable\":\"pbi_case_marking\",\"sinkTable\":\"case_marking\",\"columns\":\"ID, case_reference, overall_mark, amendments_timeliness_mark, complexity, conditions_mark, conditions_detail, coverage_mark, coverage_detail, ground_a_mark, ground_a_iit_level, invalid_nullity, invalid_nullity_mark, legal_grounds_mark, legal_grounds_considered, non_legal_grounds_mark, non_legal_grounds_considered, other_grounds_affecting_complexity, outcome, overall_case_level_for_iit_progression, presentation_accuracy_mark, presentation_accuracy_detail, structure_reasoning_mark, structure_reasoning_detail, timeliness_mark, reading_complete_notification_needed\"},{\"sourceTable\":\"pbi_comment_state_ref\",\"sinkTable\":\"comment_state_ref\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_comment_type_ref\",\"sinkTable\":\"comment_type_ref\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_comments\",\"sinkTable\":\"comments\",\"columns\":\"ID, case_reference, type, state, author, timestamp, comment\"},{\"sourceTable\":\"pbi_conditions_reference\",\"sinkTable\":\"conditions_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_coverage_reference\",\"sinkTable\":\"coverage_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_outcome_reference\",\"sinkTable\":\"outcome_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_presentation_accuracy_detail_reference\",\"sinkTable\":\"presentation_accuracy_detail_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_procedure_reference\",\"sinkTable\":\"procedure_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_reading_case\",\"sinkTable\":\"reading_case\",\"columns\":\"case_reference, inspector_email, inspector_name, reader_email, reader_name, case_level, date_submitted_by_inspector, event_date, type_of_reading, [procedure], case_target_date, reading_status, able_to_read_decision, advertisement, appeal_against_conditions, bespoke, case_team_officer_email, case_team_officer_name, costs_decision, green_belt, kiosk, linked, neighbourhood_plan, nsi_email, nsi_name, prior_approval, reason_for_delay, redetermination, secretary_of_state_report, spa_sac_eps, special_category_data, specialisms, telecommunications, urgent, amendments_received_notification_needed, able_to_check_amendments, amendments_cycles, amendments_target_date, amendments_timeliness_review_flag, date_amendments_checked, date_amendments_received, date_cleared, date_decision_sent_for_issue, date_read, date_read_started, decision_read, delayed_amendments_submission, delayed_submission, document_version, document_version_needed, final_decision_notification_needed, notification_sent_flag, on_hold_notification_needed, on_hold_status, reading_needed_flag, ready_for_issue, reason_for_amendments_delay, recall_notification_needed, replacement_decision_flag, return_count, revised_decision_notification_needed, skim_read, source, timeliness_review_flag, date_modified\"},{\"sourceTable\":\"pbi_reading_status_reference\",\"sinkTable\":\"reading_status_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_reading_type_reference\",\"sinkTable\":\"reading_type_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_source_reference\",\"sinkTable\":\"source_reference\",\"columns\":\"ID, value\"},{\"sourceTable\":\"pbi_structure_reasoning_detail_reference\",\"sinkTable\":\"structure_reasoning_detail_reference\",\"columns\":\"ID, value\"}]')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Record_Completed_AppIns",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_checkmarkdata_cur_mipins",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StatusMessage": "Checkmark curated MI/PINS stage completed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Record curated MI/PINS failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "pln_checkmarkdata_cur_mipins",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Fail",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('CuratedStartTime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@substring(activity('pln_checkmarkdata_cur_mipins').error.message, 0, 2000)",
							"type": "Expression"
						},
						"StatusMessage": "Checkmark curated MI/PINS stage failed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('CuratedStartTime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"webhook_url": {
				"type": "string"
			},
			"subscription_id": {
				"type": "string"
			},
			"resource_group": {
				"type": "string"
			},
			"starting_colour": {
				"type": "string"
			},
			"on_progress_colour": {
				"type": "string"
			},
			"failed_colour": {
				"type": "string"
			},
			"start_time": {
				"type": "string"
			},
			"starting_image": {
				"type": "string"
			},
			"progress_image": {
				"type": "string"
			},
			"warning_image": {
				"type": "string"
			},
			"failed_image": {
				"type": "string"
			},
			"warning_colour": {
				"type": "string"
			},
			"horizon_feed": {
				"type": "array"
			},
			"apps_insights_ikey": {
				"type": "string"
			}
		},
		"variables": {
			"execution_logs": {
				"type": "String"
			},
			"temp_var": {
				"type": "String"
			},
			"errorMsg": {
				"type": "String"
			},
			"wait1": {
				"type": "Integer",
				"defaultValue": 1
			},
			"wait2": {
				"type": "Integer",
				"defaultValue": 2
			},
			"wait3": {
				"type": "Integer",
				"defaultValue": 3
			},
			"wait4": {
				"type": "Integer",
				"defaultValue": 4
			},
			"wait5": {
				"type": "Integer",
				"defaultValue": 5
			},
			"wait6": {
				"type": "Integer",
				"defaultValue": 6
			},
			"wait7": {
				"type": "Integer",
				"defaultValue": 7
			},
			"wait8": {
				"type": "Integer",
				"defaultValue": 8
			},
			"recordCount": {
				"type": "String"
			},
			"error_message": {
				"type": "String"
			},
			"CuratedStartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "checkmarkdata"
		},
		"annotations": []
	}
}