workspace/pipeline/pln_checkmarkdata_cur_mipins.json
{
	"name": "pln_checkmarkdata_cur_mipins",
	"properties": {
		"activities": [
			{
				"name": "copy comments data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n    ID,\n    case_reference,\n    type,\n    state,\n    author,\n    timestamp,\n    LEFT(comment, 8000) AS comment\nFROM odw_standardised_db.dbo.casecomment;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table odw.comments",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_reference",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "type",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "state",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "state",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "author",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "author",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "timestamp",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "timestamp",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "comment",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "comment",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmarkdata",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "checkmar_data_target_dataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy case_marking data",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart_hedgegrow",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "copy comments data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table odw.case_marking",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_reference",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "overall_mark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "overall_mark",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "amendments_timeliness_mark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "amendments_timeliness_mark",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "complexity",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "complexity",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "conditions_mark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "conditions_mark",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "conditions_detail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "conditions_detail",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "coverage_mark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "coverage_mark",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "coverage_detail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "coverage_detail",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ground_a_mark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ground_a_mark",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ground_a_iit_level",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ground_a_iit_level",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "invalid_nullity",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "invalid_nullity",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "invalid_nullity_mark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "invalid_nullity_mark",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "legal_grounds_mark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "legal_grounds_mark",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "legal_grounds_considered",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "legal_grounds_considered",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "non_legal_grounds_mark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "non_legal_grounds_mark",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "non_legal_grounds_considered",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "non_legal_grounds_considered",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "other_grounds_affecting_complexity",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "other_grounds_affecting_complexity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "outcome",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "outcome",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "overall_case_level_for_iit_progression",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "overall_case_level_for_iit_progression",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "presentation_accuracy_mark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "presentation_accuracy_mark",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "presentation_accuracy_detail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "presentation_accuracy_detail",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "structure_reasoning_mark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "structure_reasoning_mark",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "structure_reasoning_detail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "structure_reasoning_detail",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "timeliness_mark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "timeliness_mark",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "reading_complete_notification_needed",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "reading_complete_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "check_markdata_ds_casemarking",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "az_checkmarkdata_ts_casemarking",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_proceduredata",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart_tpo",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy case_marking data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table odw.procedure_reference",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "az_checkmarkdata_ds_procedure",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "az_checkmarkdata_ts_precedureref",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "pbi_green_specialist_case_hedgerow_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "dbo.pbi_green_specialist_case_highhedges"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Record_Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "copy comments data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_event",
					"value": {
						"value": "@activity('copy comments data').output.rowscopied\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_event",
					"value": {
						"value": "@replace(concat(activity('Lookup-LogStart').Error?.message,'|',\nactivity('copy comments data')?.Error?.message),'|','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "green_specialist_case_curated_mipins_hh_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_event')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "PBI_green_specialist_case_HighHedges",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "copy comments data",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount_event')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "copy comments data",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup-LogStart_hedgegrow",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "green_specialist_case_Hedgegrows_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "dbo.pbi_green_specialist_case_hedgerow"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Record_Count_hedgegrow",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy case_marking data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_event",
					"value": {
						"value": "@activity('Copy case_marking data').output.rowscopied",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Error_hedgegrow",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Record_Count_hedgegrow",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_event",
					"value": {
						"value": "@replace(concat(activity('Copy case_marking data').Error?.message,'|',\nactivity('Copy case_marking data')?.Error?.message),'|','')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_failed_hedgegrow",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Error_hedgegrow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "Copy case_marking data",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_event')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "Copy case_marking data",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_success_hedgegrow",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Record_Count_hedgegrow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "green_specialist_case_curated_mipins_hgw_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount_event')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "pbi_green_specialist_case_Hedgerow",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup-LogStart_tpo",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "checkmardata started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "dbo.pbi_green_specialist_case_tpo"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Record_Count_tpo",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy_proceduredata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_event",
					"value": {
						"value": "@activity('Copy_proceduredata').output.rowscopied\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Error_copy_tpo",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Record_Count_tpo",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_event",
					"value": {
						"value": "@replace(concat(activity('Copy_proceduredata').Error?.message,'|',\nactivity('Copy_proceduredata')?.Error?.message),'|','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_failed_copy_tpo",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Error_copy_tpo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "green_specialist_case_curated_mipins_tpo_pipeline_failed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_event')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart_tpo').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "pbi_green_specialist_case_TPO",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_success_copy_Copy_proceduredata",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Record_Count_tpo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "Copy_proceduredata",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount_event')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart_tpo').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "Copy_proceduredata",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"RowCount_event": {
				"type": "Integer"
			},
			"Error_event": {
				"type": "String"
			},
			"RowCount_Serviceuser": {
				"type": "Integer"
			},
			"Error_Serviceuser": {
				"type": "String"
			},
			"Record_Count_EntraID": {
				"type": "Integer"
			},
			"Error_EntraID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "checkmarkdata"
		},
		"annotations": []
	}
}