workspace/pipeline/pln_aie_document_data.json
{
	"name": "pln_aie_document_data",
	"properties": {
		"description": "The Raw file for this source is to be manually stored in odw-raw/AIEDocumentData/YYYY-MM-DD/extract_file.csv",
		"activities": [
			{
				"name": "Raw to Std",
				"description": "Ingests raw data into the standardised table ",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Src to Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_raw_to_std",
						"type": "NotebookReference"
					},
					"parameters": {
						"source_folder": {
							"value": "AIEDocumentData",
							"type": "string"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Src to Raw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Record horizon AIE document data",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AIEData",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Std to Hrm",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Raw to Std",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_horizon_harmonised_aie_document",
						"type": "NotebookReference"
					},
					"parameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Record horizon AIE document data",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Pipeline load started",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"StatusMessage": "Starting pipeline execution",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Send AIE document data failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Std to Hrm",
						"dependencyConditions": [
							"Completed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": {
							"value": "@if(\n    equals(\n        trim(\n            concat(\n                coalesce(activity('Record horizon AIE document data')?.Error?.message, ''),\n                coalesce(activity('Src to Raw')?.Error?.message, ''),\n                coalesce(activity('Raw to Std')?.Error?.message, ''),\n                coalesce(activity('Std to Hrm')?.Error?.message, '')\n            )\n        ),\n        ''\n    ),\n    'Successfully',\n    'Failed'\n)",
							"type": "Expression"
						},
						"activityDuration": {
							"value": "@concat(\n    string(div(div(sub(\n        ticks(formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:sss')),\n        ticks(formatDateTime(if(equals(pipeline().parameters.start_time, null), utcNow(), pipeline().parameters.start_time), 'yyyy-MM-dd HH:mm:sss'))\n    ), 600000000), 60)), 'H:', \n    string(mod(div(sub(\n        ticks(formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:sss')),\n        ticks(formatDateTime(if(equals(pipeline().parameters.start_time, null), utcNow(), pipeline().parameters.start_time), 'yyyy-MM-dd HH:mm:sss'))\n    ), 600000000), 60)), 'M:00s'\n)",
							"type": "Expression"
						},
						"activityStatus": {
							"value": "@if(\n    equals(\n        trim(\n            concat(\n                coalesce(activity('Record horizon AIE document data')?.Error?.message, ''),\n                coalesce(activity('Src to Raw')?.Error?.message, ''),\n                coalesce(activity('Raw to Std')?.Error?.message, ''),\n                coalesce(activity('Std to Hrm')?.Error?.message, '')\n            )\n        ),\n        ''\n    ),\n    'Successfully',\n    'Failed'\n)",
							"type": "Expression"
						},
						"Colour": {
							"value": "@if(\n    equals(\n        trim(\n            concat(\n                coalesce(activity('Record horizon AIE document data')?.Error?.message, ''),\n                coalesce(activity('Src to Raw')?.Error?.message, ''),\n                coalesce(activity('Raw to Std')?.Error?.message, ''),\n                coalesce(activity('Std to Hrm')?.Error?.message, '')\n            )\n        ),\n        ''\n    ),\n    pipeline().parameters.completed_colour,\n    pipeline().parameters.failed_colour\n)",
							"type": "Expression"
						},
						"Image": {
							"value": "@if(\n    equals(\n        trim(\n            concat(\n                coalesce(activity('Record horizon AIE document data')?.Error?.message, ''),\n                coalesce(activity('Src to Raw')?.Error?.message, ''),\n                coalesce(activity('Raw to Std')?.Error?.message, ''),\n                coalesce(activity('Std to Hrm')?.Error?.message, '')\n            )\n        ),\n        ''\n    ),\n    pipeline().parameters.completed_image,\n    pipeline().parameters.failed_image\n)",
							"type": "Expression"
						},
						"Message_title": {
							"value": "@if(\n    equals(\n        trim(\n            concat(\n                coalesce(activity('Record horizon AIE document data')?.Error?.message, ''),\n                coalesce(activity('Src to Raw')?.Error?.message, ''),\n                coalesce(activity('Raw to Std')?.Error?.message, ''),\n                coalesce(activity('Std to Hrm')?.Error?.message, '')\n            )\n        ),\n        ''\n    ),\n    'Aie document data Successfully Completed',\n    'Aie document data Failed'\n)\n",
							"type": "Expression"
						},
						"Message_subtitle": {
							"value": "@if(\n    equals(\n        trim(\n            concat(\n                coalesce(activity('Record horizon AIE document data')?.Error?.message, ''),\n                coalesce(activity('Src to Raw')?.Error?.message, ''),\n                coalesce(activity('Raw to Std')?.Error?.message, ''),\n                coalesce(activity('Std to Hrm')?.Error?.message, '')\n            )\n        ),\n        ''\n    ),\n    'pipeline run Completed',\n    'pipeline run Failed'\n)\n",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Record completed AIE document data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Std to Hrm",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "@if(\n    equals(\n        trim(\n            concat(\n                activity('Record horizon AIE document data')?.Error?.message,\n                activity('Src to Raw')?.Error?.message,\n                activity('Raw to Std')?.Error?.message,\n                activity('Std to Hrm')?.Error?.message\n            )\n        ),\n        ''\n    ),    \n    'Successfully',\n    'Failed'\n\n)",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@replace(\n    concat(\n        coalesce(activity('Record horizon AIE document data')?.Error?.message, ''), '|',\n        coalesce(activity('Src to Raw')?.Error?.message, ''), '|',\n        coalesce(activity('Raw to Std')?.Error?.message, ''), '|',\n        coalesce(activity('Std to Hrm')?.Error?.message, ''), '|'\n    ),\n    '|',\n    ''\n)\n",
							"type": "Expression"
						},
						"StatusMessage": {
							"value": "@if(\n    equals(\n        trim(\n            concat(\n                coalesce(activity('Record horizon AIE document data')?.Error?.message, ''),\n                coalesce(activity('Src to Raw')?.Error?.message, ''),\n                coalesce(activity('Raw to Std')?.Error?.message, ''),\n                coalesce(activity('Std to Hrm')?.Error?.message, '')\n            )\n        ),\n        ''\n    ),\n    'horizon AIE document data load Successfully Completed',\n    'horizon AIE document data Failed'\n   \n)",
							"type": "Expression"
						},
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "IfConditionFailedActivities",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Record completed AIE document data",
						"dependencyConditions": [
							"Completed",
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(\n    equals(\n        trim(\n            concat(\n                activity('Record horizon AIE document data')?.Error?.message,\n                activity('Src to Raw')?.Error?.message,\n                activity('Raw to Std')?.Error?.message,\n                activity('Std to Hrm')?.Error?.message,\n                activity('Record completed AIE document data')?.Error?.message\n            )\n        ),\n        ''\n    ),\n        false,\n        true\n)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "pln_aie_document_data Fail",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "failing the pipeline as previous activities are failed.",
								"errorCode": "400"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"apps_insights_ikey": {
				"type": "string"
			},
			"subscription_id": {
				"type": "string"
			},
			"webhook_url": {
				"type": "string"
			},
			"resource_group": {
				"type": "string"
			},
			"failed_colour": {
				"type": "string",
				"defaultValue": "attention"
			},
			"failed_image": {
				"type": "string",
				"defaultValue": "https://tse4.mm.bing.net/th/id/OIP.QvdayQCDbhZL5DsXkaBObwAAAA?w=160&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"
			},
			"start_time": {
				"type": "string"
			},
			"completed_colour": {
				"type": "string",
				"defaultValue": "good"
			},
			"completed_image": {
				"type": "string",
				"defaultValue": "https://tse3.mm.bing.net/th/id/OIP.YbfIXY-IWYnBkzHvhrXiXAHaHa?w=177&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"
			}
		},
		"folder": {
			"name": "aie-extracts"
		},
		"annotations": []
	}
}