workspace/pipeline/pln_copy_curated_to_mipins_generic.json
{
	"name": "pln_copy_curated_to_mipins_generic",
	"properties": {
		"activities": [
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": {
									"value": "@concat(pipeline().parameters.p_LogDescriptionPrefix, '_pipeline_started')",
									"type": "Expression"
								}
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "\"1\""
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.p_LogSource",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_Curated_To_MiPINS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('drop table if exists odw.', pipeline().parameters.p_TargetTableName)\n}",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_curated_generic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.p_SourceTableName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sql_mipins_generic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "@pipeline().parameters.p_TargetTableName"
						}
					}
				]
			},
			{
				"name": "Record_Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy_Curated_To_MiPINS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount",
					"value": {
						"value": "@activity('Copy_Curated_To_MiPINS').output.rowscopied\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If_Update_DimSourceSystem",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.p_EnableDimSourceUpdate, true)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "SP_update_dim_source_system",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Live].[upd_dim_source_system]",
								"storedProcedureParameters": {
									"refresh_date": {
										"value": {
											"value": "@utcNow('yyyy-MM-ddTHH:mm:ss.fff')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"source_system": {
										"value": {
											"value": "@pipeline().parameters.p_SourceSystemForDim",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_mipins",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Error_Set",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy_Curated_To_MiPINS",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "If_Update_DimSourceSystem",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error",
					"value": {
						"value": "@if(\n    equals(activity('Copy_Curated_To_MiPINS').Error.Message, null),\n    'Unknown error in Copy_Curated_To_MiPINS',\n    activity('Copy_Curated_To_MiPINS').Error.Message\n)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "If_Update_DimSourceSystem",
						"dependencyConditions": [
							"Succeeded",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": {
								"value": "@concat(pipeline().parameters.p_LogDescriptionPrefix, '_pipeline_completed')",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "\"2\"",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": {
								"value": "@pipeline().parameters.p_LogSource",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error_Set",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": {
								"value": "@concat(pipeline().parameters.p_LogDescriptionPrefix, '_pipeline_failed')",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "\"2\"",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": {
								"value": "@pipeline().parameters.p_LogSource",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"p_EntityCode": {
				"type": "string"
			},
			"p_SourceTableName": {
				"type": "string"
			},
			"p_TargetTableName": {
				"type": "string"
			},
			"p_LogSource": {
				"type": "string"
			},
			"p_LogDescriptionPrefix": {
				"type": "string"
			},
			"p_SourceSystemForDim": {
				"type": "string"
			},
			"p_EnableDimSourceUpdate": {
				"type": "bool"
			}
		},
		"variables": {
			"RowCount": {
				"type": "Integer"
			},
			"Error": {
				"type": "String"
			}
		},
		"folder": {
			"name": "utils/CuratedToMipins"
		},
		"annotations": []
	}
}