workspace/pipeline/pln_gree_specialist_case_odw_source_odw_row.json
{
	"name": "pln_gree_specialist_case_odw_source_odw_row",
	"properties": {
		"activities": [
			{
				"name": "Copyfiles_odw_source_odw_raw",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureFileStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat(pipeline().parameters.Folder_Path,'/',if( contains(toLower(pipeline().DataFactory), 'dev'), 'dev', if( contains(toLower(pipeline().DataFactory), 'test'), 'test', 'prod' ) ))",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_odwdatalab_source_greenspecialistcase",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_odwraw_GreenSpecialistCase",
						"type": "DatasetReference",
						"parameters": {
							"ds_Folder_Path": {
								"value": "@pipeline().parameters.Folder_Path",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete_Copied_csv_files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copyfiles_odw_source_odw_raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_odwdatalab_source",
						"type": "DatasetReference",
						"parameters": {
							"ds_FileLoad_Type": {
								"value": "@activity('Copyfiles_odw_source_odw_raw').output",
								"type": "Expression"
							},
							"ds_Folder_Path": {
								"value": "@pipeline().parameters.Folder_Path",
								"type": "Expression"
							},
							"ds_Env_Type": {
								"value": "@activity('Copyfiles_odw_source_odw_raw').output",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureFileStorageReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "*.csv",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"Folder_Path": {
				"type": "string",
				"defaultValue": "ODW/Green_specialist_Case"
			}
		},
		"folder": {
			"name": "green specialist case/0-raw"
		},
		"annotations": []
	}
}