workspace/pipeline/pln_green_specialist_case_odw_source_odw_row.json
{
	"name": "pln_green_specialist_case_odw_source_odw_row",
	"properties": {
		"activities": [
			{
				"name": "Copyfiles_odw_source_odw_raw",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureFileStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.Folder_Path",
								"type": "Expression"
							},
							"wildcardFileName": "*.xlsx",
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_odwdatalab_source_greenspecialistcase",
						"type": "DatasetReference",
						"parameters": {
							"ds_Folder_Path": {
								"value": "@pipeline().parameters.Folder_Path",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_odwraw_GreenSpecialistCase",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete_Copied_csv_files",
				"type": "Delete",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_odwdatalab_source_greenspecialistcase",
						"type": "DatasetReference",
						"parameters": {
							"ds_Folder_Path": {
								"value": "@pipeline().parameters.Folder_Path",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureFileStorageReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "*.xlsx",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('IsError')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set Temp Counter",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "tempCounter",
								"value": {
									"value": "@string(add(int(variables('counter')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Temp Counter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureFileStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureFileStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GreenSpecialistCaseExcelFiles",
									"type": "DatasetReference",
									"parameters": {
										"sheetindex": {
											"value": "@int(variables('counter'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GreenSpecialistCaseSINKCsv",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "Green_Specialist_Case_@{variables('counter')}.csv",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set Counter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "counter",
								"value": {
									"value": "@variables('tempCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set IsError",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IsError",
								"value": {
									"value": "@bool(1)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"parameters": {
			"Folder_Path": {
				"type": "string",
				"defaultValue": "ODW/Green_Specialist_Case/dev"
			}
		},
		"variables": {
			"counter": {
				"type": "String",
				"defaultValue": "0"
			},
			"IsError": {
				"type": "Boolean"
			},
			"tempCounter": {
				"type": "String"
			}
		},
		"folder": {
			"name": "green specialist case/0-raw"
		},
		"annotations": []
	}
}