workspace/pipeline/pln_service_bus.json
{
	"name": "pln_service_bus",
	"properties": {
		"activities": [
			{
				"name": "Record service bus completion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach - Raw to Std",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StatusMessage": "Service bus pipeline completed",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Lookup SB Orchestration",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "orchestration_service_bus",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter Enabled Entities",
				"description": "Filters orchestration definitions to entities that are enabled and have no dependencies. If entity_name parameter is provided, restricts to that single entity.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup SB Orchestration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup SB Orchestration').output.value[0].entities",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(equals(item().processing_enabled, true), and(equals(item().run_raw_to_std, true), or(empty(pipeline().parameters.entity_name_array), contains(pipeline().parameters.entity_name_array, item().entity_name))))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach - Raw to Std",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Enabled Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Enabled Entities').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Record starting service bus stage",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "OnProgress",
									"PipelineName": {
										"value": "@concat(pipeline().Pipeline, ' - ', item().entity_name)",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat('Progressing to load service bus: ', item().entity_name)",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityType": "Pipeline",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Record checking data on service bus",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Record starting service bus stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "OnProgress",
									"PipelineName": {
										"value": "@concat(pipeline().Pipeline, ' - ', item().entity_name)",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat(item().entity_name, ': Checking service bus subscription for messages')",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityType": "Pipeline",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Create standardised table",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Record checking data on service bus",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "create_table_from_schema",
									"type": "NotebookReference"
								},
								"parameters": {
									"db_name": {
										"value": "odw_standardised_db",
										"type": "string"
									},
									"entity_name": {
										"value": {
											"value": "@item().entity_name",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "Create harmonised table",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Record checking data on service bus",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "create_table_from_schema",
									"type": "NotebookReference"
								},
								"parameters": {
									"db_name": {
										"value": "odw_harmonised_db",
										"type": "string"
									},
									"entity_name": {
										"value": {
											"value": "@item().entity_name",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "Create curated table",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Record checking data on service bus",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "create_table_from_schema",
									"type": "NotebookReference"
								},
								"parameters": {
									"db_name": {
										"value": "odw_curated_db",
										"type": "string"
									},
									"entity_name": {
										"value": {
											"value": "@item().entity_name",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "Raw to Std",
							"description": "Ingests raw data into the standardised table",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Create standardised table",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Create harmonised table",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Create curated table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_sb_raw_to_std",
									"type": "NotebookReference"
								},
								"parameters": {
									"entity_name": {
										"value": {
											"value": "@item().entity_name",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName\n",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType\n",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName\n",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId\n",
											"type": "Expression"
										},
										"type": "string"
									},
									"raw_entity_path": {
										"value": {
											"value": "@item().raw_entity_path",
											"type": "Expression"
										},
										"type": "string"
									},
									"standardised_table": {
										"value": {
											"value": "@item().standardised_table",
											"type": "Expression"
										},
										"type": "string"
									},
									"watermark_column": {
										"value": {
											"value": "@item().watermark_column",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "Record convert raw to std failed",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Raw to Std",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Fail",
									"PipelineName": {
										"value": "@concat(pipeline().Pipeline, ' - ', item().entity_name)",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"Inserts": {
										"value": "@int(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['insert_count'], 0))",
										"type": "Expression"
									},
									"ErrorMessage": {
										"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['error_message'], activity('Raw to Std').Error.message, 'Raw to Std failed'))",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat(item().entity_name, ': Raw to Std failed')",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"PipelineExecutionTimeInSec": {
										"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))",
										"type": "Expression"
									},
									"ActivityType": "Notebook",
									"DurationSeconds": {
										"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))",
										"type": "Expression"
									},
									"StatusCode": "400",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Record raw to std",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Raw to Std",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Completion",
									"PipelineName": {
										"value": "@concat(pipeline().Pipeline, ' - ', item().entity_name)",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['start_exec_time'], ''))",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['end_exec_time'], ''))",
										"type": "Expression"
									},
									"Inserts": {
										"value": "@int(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['insert_count'], 0))",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat(item().entity_name, ': Processing source to standardised completed')",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"PipelineExecutionTimeInSec": {
										"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))",
										"type": "Expression"
									},
									"ActivityType": "Notebook",
									"DurationSeconds": {
										"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))",
										"type": "Expression"
									},
									"StatusCode": "200",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "If has new data",
							"description": "Runs Std to Hrm, custom harmonised notebooks, and writes the watermark only when Raw to Std found new messages.",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Raw to Std",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{\"hasNewData\":false}'))?['hasNewData'], false)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Record std to hrm",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pln_log_to_appins",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"Stage": "OnProgress",
												"PipelineName": {
													"value": "@concat(pipeline().Pipeline, ' - ', item().entity_name)",
													"type": "Expression"
												},
												"PipelineRunID": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"StartTime": {
													"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
													"type": "Expression"
												},
												"StatusMessage": {
													"value": "@concat(item().entity_name, ': Processing standardised to harmonised')",
													"type": "Expression"
												},
												"PipelineTriggerID": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"PipelineTriggerName": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"PipelineTriggerType": {
													"value": "@pipeline().TriggerType",
													"type": "Expression"
												},
												"PipelineTriggeredbyPipelineName": {
													"value": "@pipeline()?.TriggeredByPipelineName",
													"type": "Expression"
												},
												"PipelineTriggeredbyPipelineRunID": {
													"value": "@pipeline()?.TriggeredByPipelineRunId",
													"type": "Expression"
												},
												"ActivityType": "Pipeline",
												"StatusCode": "200",
												"AppInsIKey": {
													"value": "@pipeline().parameters.apps_insights_ikey",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Std to Hrm",
										"description": "Ingests standardised data into the harmonised table",
										"type": "SynapseNotebook",
										"dependsOn": [
											{
												"activity": "Record std to hrm",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebook": {
												"referenceName": "py_sb_std_to_hrm",
												"type": "NotebookReference"
											},
											"parameters": {
												"entity_name": {
													"value": {
														"value": "@item().entity_name",
														"type": "Expression"
													},
													"type": "string"
												},
												"PipelineName": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "string"
												},
												"PipelineRunID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "string"
												},
												"PipelineTriggerID": {
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													},
													"type": "string"
												},
												"PipelineTriggerName": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "string"
												},
												"PipelineTriggerType": {
													"value": {
														"value": "@pipeline().TriggerType",
														"type": "Expression"
													},
													"type": "string"
												},
												"PipelineTriggeredbyPipelineName": {
													"value": {
														"value": "@pipeline()?.TriggeredByPipelineName",
														"type": "Expression"
													},
													"type": "string"
												},
												"PipelineTriggeredbyPipelineRunID": {
													"value": {
														"value": "@pipeline()?.TriggeredByPipelineRunId",
														"type": "Expression"
													},
													"type": "string"
												}
											},
											"snapshot": true,
											"conf": {
												"spark.dynamicAllocation.enabled": null,
												"spark.dynamicAllocation.minExecutors": null,
												"spark.dynamicAllocation.maxExecutors": null
											},
											"numExecutors": null
										}
									},
									{
										"name": "Record convert std to hrm failed",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Std to Hrm",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pln_log_to_appins",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"Stage": "Fail",
												"PipelineName": {
													"value": "@concat(pipeline().Pipeline, ' - ', item().entity_name)",
													"type": "Expression"
												},
												"PipelineRunID": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"StartTime": {
													"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
													"type": "Expression"
												},
												"EndTime": {
													"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
													"type": "Expression"
												},
												"Inserts": {
													"value": "@int(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['insert_count'], 0))",
													"type": "Expression"
												},
												"Updates": {
													"value": "@int(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['update_count'], 0))",
													"type": "Expression"
												},
												"Deletes": {
													"value": "@int(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['delete_count'], 0))",
													"type": "Expression"
												},
												"ErrorMessage": {
													"value": "@string(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['error_message'], activity('Std to Hrm').Error.message, 'Std to Hrm failed'))",
													"type": "Expression"
												},
												"StatusMessage": {
													"value": "@concat(item().entity_name, ': Std to Hrm failed')",
													"type": "Expression"
												},
												"PipelineTriggerID": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"PipelineTriggerName": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"PipelineTriggerType": {
													"value": "@pipeline().TriggerType",
													"type": "Expression"
												},
												"PipelineTriggeredbyPipelineName": {
													"value": "@pipeline()?.TriggeredByPipelineName",
													"type": "Expression"
												},
												"PipelineTriggeredbyPipelineRunID": {
													"value": "@pipeline()?.TriggeredByPipelineRunId",
													"type": "Expression"
												},
												"PipelineExecutionTimeInSec": {
													"value": "@string(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))",
													"type": "Expression"
												},
												"ActivityType": "Notebook",
												"DurationSeconds": {
													"value": "@string(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))",
													"type": "Expression"
												},
												"StatusCode": "400",
												"AppInsIKey": {
													"value": "@pipeline().parameters.apps_insights_ikey",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Record std to hrm completed",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Std to Hrm",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pln_log_to_appins",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"Stage": "Completion",
												"PipelineName": {
													"value": "@concat(pipeline().Pipeline, ' - ', item().entity_name)",
													"type": "Expression"
												},
												"PipelineRunID": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"StartTime": {
													"value": "@string(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['start_exec_time'], ''))\n",
													"type": "Expression"
												},
												"EndTime": {
													"value": "@string(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['end_exec_time'], ''))\n\n",
													"type": "Expression"
												},
												"Inserts": {
													"value": "@int(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['insert_count'], 0))",
													"type": "Expression"
												},
												"Updates": {
													"value": "@int(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['update_count'], 0))\n",
													"type": "Expression"
												},
												"Deletes": {
													"value": "@int(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['delete_count'], 0))\n",
													"type": "Expression"
												},
												"StatusMessage": {
													"value": "@concat(item().entity_name, ': Processing standardised to harmonised completed')",
													"type": "Expression"
												},
												"PipelineTriggerID": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"PipelineTriggerName": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"PipelineTriggerType": {
													"value": "@pipeline().TriggerType",
													"type": "Expression"
												},
												"PipelineTriggeredbyPipelineName": {
													"value": "@pipeline()?.TriggeredByPipelineName",
													"type": "Expression"
												},
												"PipelineTriggeredbyPipelineRunID": {
													"value": "@pipeline()?.TriggeredByPipelineRunId",
													"type": "Expression"
												},
												"PipelineExecutionTimeInSec": {
													"value": "@string(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))",
													"type": "Expression"
												},
												"ActivityType": "Notebook",
												"DurationSeconds": {
													"value": "@string(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))\n",
													"type": "Expression"
												},
												"StatusCode": "200",
												"AppInsIKey": {
													"value": "@pipeline().parameters.apps_insights_ikey",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Run Entity Custom Harmonised",
										"description": "Calls the child pipeline to run each custom harmonised notebook for this entity. Passes an empty array if no custom notebooks are configured \u2014 the child ForEach no-ops in that case.",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Std to Hrm",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pln_sb_run_entity_custom_harmonised",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"entity_name": "@item().entity_name",
												"custom_harmonised_notebooks": "@item().custom_harmonised_notebooks",
												"PipelineName": "@pipeline().Pipeline",
												"PipelineRunID": "@pipeline().RunId",
												"PipelineTriggerID": "@pipeline().TriggerId",
												"PipelineTriggerName": "@pipeline().TriggerName",
												"PipelineTriggerType": "@pipeline().TriggerType",
												"PipelineTriggeredbyPipelineName": "@pipeline()?.TriggeredByPipelineName",
												"PipelineTriggeredbyPipelineRunID": "@pipeline()?.TriggeredByPipelineRunId"
											}
										}
									},
									{
										"name": "Update watermark",
										"description": "Upserts the max message_enqueued_time_utc into odw_meta_db.service_bus_watermarks for this entity. Runs after custom harmonised completes (or is skipped for entities with no custom notebooks).",
										"type": "SynapseNotebook",
										"dependsOn": [
											{
												"activity": "Run Entity Custom Harmonised",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.1:00:00",
											"retry": 2,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebook": {
												"referenceName": "nb_sb_write_manifest_and_watermark",
												"type": "NotebookReference"
											},
											"parameters": {
												"entity_name": {
													"value": {
														"value": "@item().entity_name",
														"type": "Expression"
													},
													"type": "string"
												},
												"lastIngestTime": {
													"value": {
														"value": "@coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['max_message_enqueued_time_utc'], '')",
														"type": "Expression"
													},
													"type": "string"
												},
												"status": {
													"value": "Succeeded",
													"type": "string"
												},
												"recordsIngested": {
													"value": {
														"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['insert_count'], 0))",
														"type": "Expression"
													},
													"type": "string"
												}
											},
											"snapshot": true,
											"conf": {
												"spark.dynamicAllocation.enabled": null,
												"spark.dynamicAllocation.minExecutors": null,
												"spark.dynamicAllocation.maxExecutors": null
											},
											"numExecutors": null
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"apps_insights_ikey": {
				"type": "string"
			},
			"Key_Vault_Url": {
				"type": "string"
			},
			"webhook_url": {
				"type": "string"
			},
			"entity_name_array": {
				"type": "array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "utils/Master"
		},
		"annotations": []
	}
}
