workspace/pipeline/pln_aie_ingest.json
{
	"name": "pln_aie_ingest",
	"properties": {
		"activities": [
			{
				"name": "Set loop start",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "loopStartTicks",
					"value": {
						"value": "@string(ticks(utcNow()))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Reset lastErrorMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set loop start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastErrorMessage",
					"value": {
						"value": "@string('')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy AIE Data",
				"description": "Calls the AIEData pipeline to retrieve AIE document data and write the raw file to odw-raw.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Reset lastErrorMessage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AIEData",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Append success",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Copy AIE Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "aieStatus",
					"value": {
						"value": "@json(concat(\n  '{',\n    '\"entity\":\"AIE Documents\",',\n    '\"status\":\"Succeeded\",',\n    '\"recordsIngested\":0,',\n    '\"durationSeconds\":', string(div(sub(ticks(utcNow()), int(variables('loopStartTicks'))), 10000000)), ',',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set lastErrorMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy AIE Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastErrorMessage",
					"value": {
						"value": "@replace(\n  replace(\n    replace(string(activity('Copy AIE Data').Error.Message), '\"', ''''),\n    '\\r', ' '\n  ),\n  '\\n', ' '\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append failure",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set lastErrorMessage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "aieStatus",
					"value": {
						"value": "@json(concat(\n  '{',\n    '\"entity\":\"AIE Documents\",',\n    '\"status\":\"Failed\",',\n    '\"recordsIngested\":0,',\n    '\"durationSeconds\":0,',\n    '\"error\":\"', replace(variables('lastErrorMessage'),'\\\"',''''), '\",',\n    '\"runId\":\"', pipeline().RunId, '\"',\n  '}'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Mark Failure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append failure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "hasFailure",
					"value": true
				}
			},
			{
				"name": "Output JSON",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append success",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Mark Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "aieStatusJson",
					"value": {
						"value": "@string(variables('aieStatus'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Return result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Output JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "result",
							"value": {
								"type": "Expression",
								"content": "@concat(\n  '{',\n  '\"hasFailure\":', toLower(string(variables('hasFailure'))), ',',\n  '\"results\":', string(variables('aieStatus')),\n  '}'\n)"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"hasFailure": {
				"type": "Boolean",
				"defaultValue": false
			},
			"lastErrorMessage": {
				"type": "String"
			},
			"loopStartTicks": {
				"type": "String"
			},
			"aieStatus": {
				"type": "Array",
				"defaultValue": []
			},
			"aieStatusJson": {
				"type": "String",
				"defaultValue": "'[]'"
			}
		},
		"folder": {
			"name": "utils/Ingest"
		},
		"annotations": []
	}
}
