workspace/pipeline/pln_master_35.json
{
	"name": "pln_master_35",
	"properties": {
		"activities": [
			{
				"name": "Service bus loads",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Service Bus feed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('service_bus_feed')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Random wait to allow parallelism_copy4",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@rand(1, 20)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Service Bus Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Random wait to allow parallelism_copy4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_service_bus_35",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"entity_name_input": {
										"value": "@item()",
										"type": "Expression"
									},
									"apps_insights_ikey": {
										"value": "@variables('apps_insights_ikey')",
										"type": "Expression"
									},
									"Key_Vault_Url": {
										"value": "@variables('Key_Vault_Url')",
										"type": "Expression"
									},
									"webhook_url": {
										"value": "@variables('webhook_url')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Record Service Bus failure",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Execute Service Bus Pipeline",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Fail",
									"PipelineName": {
										"value": "@activity('Execute Service Bus Pipeline').Output.pipelineName",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@activity('Execute Service Bus Pipeline').Output.pipelineRunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@activity('Execute Service Bus Pipeline').ExecutionStartTime",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@activity('Execute Service Bus Pipeline').ExecutionEndTime",
										"type": "Expression"
									},
									"ErrorMessage": {
										"value": "@activity('Execute Service Bus Pipeline').Error.message",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat(item(), ': ', activity('Execute Service Bus Pipeline').Status)",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@activity('Execute Service Bus Pipeline').PipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@activity('Execute Service Bus Pipeline').PipelineRunId",
										"type": "Expression"
									},
									"PipelineExecutionTimeInSec": {
										"value": "@activity('Execute Service Bus Pipeline').Duration",
										"type": "Expression"
									},
									"ActivityType": {
										"value": "@activity('Execute Service Bus Pipeline').ActivityType",
										"type": "Expression"
									},
									"DurationSeconds": {
										"value": "@activity('Execute Service Bus Pipeline').Duration",
										"type": "Expression"
									},
									"AppInsCustomEventName": "ODW_Master_Pipeline_Logs",
									"StatusCode": {
										"value": "@activity('Execute Service Bus Pipeline').StatusCode",
										"type": "Expression"
									},
									"AppInsIKey": {
										"value": "@variables('apps_insights_ikey')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Return Failure",
							"description": "Return as a failed activity after logging the error",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Record Service Bus failure",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('Execute Service Bus Pipeline').Error.message",
									"type": "Expression"
								},
								"errorCode": {
									"value": "@activity('Execute Service Bus Pipeline').StatusCode",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set start time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set key vault URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set subscription",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get subscription",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "subscription_id",
					"value": {
						"value": "@activity('Get subscription').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set resource group",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get resource group",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "resource_group",
					"value": {
						"value": "@activity('Get resource group').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set webhook",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Webhook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "webhook_url",
					"value": {
						"value": "@activity('Get Webhook').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get subscription",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set start time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(variables('Key_Vault_Url'), 'SubscriptionId',variables('Key_Vault_API'))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "PinsIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Webhook",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set start time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(variables('Key_Vault_Url'), 'TeamsWebhook',variables('Key_Vault_API'))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "PinsIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get resource group",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set start time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(variables('Key_Vault_Url'), 'DBResourceGroup',variables('Key_Vault_API'))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "PinsIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set key vault URL",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Key_Vault_Url",
					"value": {
						"value": "@if(equals(pipeline().DataFactory, 'pins-synw-odw-dev-uks'), 'https://pinskvsynwodwdevuks.vault.azure.net/secrets/', if(equals(pipeline().DataFactory, 'pins-synw-odw-test-uks'), 'https://pinskvsynwodwtestuks.vault.azure.net/secrets/', 'https://pinskvsynwodwproduks.vault.azure.net/secrets/'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Service Bus feed",
				"description": "Get the enabled service bus feed from master pipeline config",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set subscription",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set webhook",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set resource group",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set AppIns iKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT STRING_AGG(entity_name, ',') AS entities\nFROM [odw_config_db].[dbo].[main_pipeline_config]\nWHERE is_enabled = 1\nAND System_name = 'Service bus' and entity_name in ('folder','nsip-document','nsip-exam-timetable',\n'nsip-project','nsip-project-update','nsip-representation','nsip-subscription','s51-advice')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_odw_main_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set Service Bus feed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Service Bus feed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "service_bus_feed",
					"value": {
						"value": "@split(activity('Get Service Bus feed').output.value[0].entities, ',')\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get AppIns iKey",
				"description": "Get the application insights ikey for logging",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set start time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(variables('Key_Vault_Url'), 'application-insights-connection-string',variables('Key_Vault_API'))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "PinsIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set AppIns iKey",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get AppIns iKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "apps_insights_ikey",
					"value": {
						"value": "@split(split(activity('Get AppIns iKey').output.value, ';')[0], '=')[1]",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"webhook_url": {
				"type": "String"
			},
			"subscription_id": {
				"type": "String"
			},
			"resource_group": {
				"type": "String"
			},
			"starting_colour": {
				"type": "String",
				"defaultValue": "accent"
			},
			"on_progress_colour": {
				"type": "String",
				"defaultValue": "light"
			},
			"failed_colour": {
				"type": "String",
				"defaultValue": "attention"
			},
			"start_time": {
				"type": "String"
			},
			"starting_image": {
				"type": "String",
				"defaultValue": "https://tse1.mm.bing.net/th?q=Go+Green+Light+PNG&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.5&pid=InlineBlock&mkt=en-GB&cc=GB&setlang=en&adlt=strict&t=1&mw=247"
			},
			"progress_image": {
				"type": "String",
				"defaultValue": "https://tse2.mm.bing.net/th/id/OIP.1-FXYnONJTX2Hxzqf3wERAAAAA?w=192&h=190&c=7&r=0&o=5&dpr=1.5&pid=1.7"
			},
			"warning_image": {
				"type": "String",
				"defaultValue": "https://tse2.mm.bing.net/th/id/OIP.FCX8ixVm5MGoziIpTpdTJwHaMc?w=115&h=184&c=7&r=0&o=5&dpr=1.5&pid=1.7"
			},
			"failed_image": {
				"type": "String",
				"defaultValue": "https://tse4.mm.bing.net/th/id/OIP.QvdayQCDbhZL5DsXkaBObwAAAA?w=160&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"
			},
			"warning_colour": {
				"type": "String",
				"defaultValue": "warning"
			},
			"completed_colour": {
				"type": "String",
				"defaultValue": "good"
			},
			"completed_image": {
				"type": "String",
				"defaultValue": "https://tse3.mm.bing.net/th/id/OIP.YbfIXY-IWYnBkzHvhrXiXAHaHa?w=177&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"
			},
			"Key_Vault_Url": {
				"type": "String"
			},
			"Key_Vault_API": {
				"type": "String",
				"defaultValue": "?api-version=7.0"
			},
			"service_bus_feed": {
				"type": "Array"
			},
			"horizon_feed": {
				"type": "Array"
			},
			"apps_insights_ikey": {
				"type": "String"
			},
			"H_NoteBook_errorMessage": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "utils/Master"
		},
		"annotations": []
	}
}