workspace/pipeline/pln_copy_curated_to_mipins_generic.json
{
	"name": "pln_copy_curated_to_mipins_generic",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM dbo.config_curated_to_mipins\nWHERE is_active = 1\nORDER BY execution_order;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_meta_curated_to_mipins",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Entities",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Check_Invalid_Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Entities').output.value\n",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "Reset_RowCount",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "RowCount",
								"value": 0
							}
						},
						{
							"name": "Reset_Error",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Reset_RowCount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Error",
								"value": {
									"value": "@string('')\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup-LogStart",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Log_Start_AppIns",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
									"storedProcedureParameters": {
										"Description": {
											"type": "String",
											"value": {
												"value": "@concat(item().log_description_prefix, '_pipeline_started')\n",
												"type": "Expression"
											}
										},
										"ErrorMessage": {
											"type": "String",
											"value": null
										},
										"LogType": {
											"type": "String",
											"value": "\"1\""
										},
										"Param1Value": {
											"type": "String",
											"value": null
										},
										"RowCount": {
											"type": "Int32",
											"value": null
										},
										"RunId": {
											"type": "Int32",
											"value": null
										},
										"Source": {
											"type": "String",
											"value": {
												"value": "@item().log_source\n",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Lookup_LogStart",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy_Curated_To_MiPINS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup-LogStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@concat('drop table if exists odw.', item().target_table_name)\n",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_curated_generic",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().source_table_name\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_mipins_generic",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().target_table_name\n",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Record_Count",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy_Curated_To_MiPINS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "RowCount",
								"value": {
									"value": "@activity('Copy_Curated_To_MiPINS').output.rowsCopied\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If_Update_DimSourceSystem",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Record_Count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().enable_dim_source_update, true)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "SP_update_dim_source_system_copy1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[Live].[upd_dim_source_system]",
											"storedProcedureParameters": {
												"refresh_date": {
													"value": {
														"value": "@utcNow('yyyy-MM-ddTHH:mm:ss.fff')",
														"type": "Expression"
													},
													"type": "Datetime"
												},
												"source_system": {
													"value": {
														"value": "@item().source_system_for_dim\n",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_sql_mipins",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "SP_log_success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Record_Count",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "If_Update_DimSourceSystem",
									"dependencyConditions": [
										"Skipped",
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[usp_addETLLog]",
								"storedProcedureParameters": {
									"Description": {
										"value": {
											"value": "@concat(item().log_description_prefix, '_pipeline_completed')\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"LogType": {
										"value": "\"2\"",
										"type": "String"
									},
									"Param1Value": {
										"value": null,
										"type": "String"
									},
									"RowCount": {
										"value": {
											"value": "@variables('RowCount')\n",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RunId": {
										"value": {
											"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Source": {
										"value": {
											"value": "@item().log_source\n",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_mipins",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Error_Set",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy_Curated_To_MiPINS",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "If_Update_DimSourceSystem",
									"dependencyConditions": [
										"Failed",
										"Skipped"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Error",
								"value": {
									"value": "@if(\n    equals(activity('Copy_Curated_To_MiPINS').Error.Message, null),\n    'Unknown error in Copy_Curated_To_MiPINS',\n    activity('Copy_Curated_To_MiPINS').Error.Message\n)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Sp_log_failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Error_Set",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[usp_addETLLog]",
								"storedProcedureParameters": {
									"Description": {
										"value": {
											"value": "@concat(item().log_description_prefix, '_pipeline_failed')\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@variables('Error')",
											"type": "Expression"
										},
										"type": "String"
									},
									"LogType": {
										"value": "\"2\"",
										"type": "String"
									},
									"Param1Value": {
										"value": null,
										"type": "String"
									},
									"RowCount": {
										"value": null,
										"type": "Int32"
									},
									"RunId": {
										"value": {
											"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Source": {
										"value": {
											"value": "@item().log_source\n",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_mipins",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Append_Result",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Sp_log_failed",
									"dependencyConditions": [
										"Succeeded",
										"Skipped"
									]
								},
								{
									"activity": "Log_Completion_AppIns",
									"dependencyConditions": [
										"Succeeded",
										"Skipped"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "results",
								"value": {
									"value": "@json(\n  concat(\n    '{',\n      '\"entity_code\":\"', string(item().entity_code), '\",',\n      '\"source_table\":\"', string(item().source_table_name), '\",',\n      '\"target_table\":\"', string(item().target_table_name), '\",',\n      '\"status\":\"',\n        if(\n          equals(variables('Error'), ''),\n          'Succeeded',\n          'Failed'\n        ),\n      '\",',\n      '\"rowsCopied\":', string(coalesce(variables('RowCount'), 0)), ',',\n      '\"error\":\"',\n        replace(\n          coalesce(variables('Error'), ''),\n          '\"',\n          ''''\n        ),\n      '\"',\n    '}'\n  )\n)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_Loop_Start",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Reset_Error",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "loopStartTicks",
								"value": {
									"value": "@string(ticks(utcNow()))\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Reset_lastErrorMessage",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_Loop_Start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "lastErrorMessage",
								"value": "@string('')\n"
							}
						},
						{
							"name": "Log_Start_AppIns",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Reset_lastErrorMessage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Start",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
									"EndTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
									"StatusMessage": {
										"value": "@concat(item().entity_code, ' curated->mipins starting')\n",
										"type": "Expression"
									},
									"AppInsIKey": "@string(\n  coalesce(\n    json(pipeline().parameters.runContextJson)?['appInsightsKey'],\n    json(pipeline().parameters.runContextJson)?['apps_insights_ikey'],\n    ''\n  )\n)\n"
								}
							}
						},
						{
							"name": "Set_lastErrorMessage",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "If_Update_DimSourceSystem",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Copy_Curated_To_MiPINS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "lastErrorMessage",
								"value": "@string(\n  replace(\n    replace(\n      replace(\n        coalesce(activity('Copy_Curated_To_MiPINS')?.Error?.Message, activity('If_Update_DimSourceSystem')?.Error?.Message, ''),\n        '\\\"',''''\n      ),\n      '\\r',' '\n    ),\n    '\\n',' '\n  )\n)\n"
							}
						},
						{
							"name": "Log_Failure_AppIns",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set_lastErrorMessage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Failure",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
									"EndTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
									"ErrorMessage": "@variables('lastErrorMessage')\n",
									"StatusMessage": {
										"value": "@concat(item().entity_code, ' curated->mipins failed')\n",
										"type": "Expression"
									},
									"AppInsIKey": "@string(\n  coalesce(\n    json(pipeline().parameters.runContextJson)?['appInsightsKey'],\n    json(pipeline().parameters.runContextJson)?['apps_insights_ikey'],\n    ''\n  )\n)\n"
								}
							}
						},
						{
							"name": "Log_Completion_AppIns",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SP_log_success",
									"dependencyConditions": [
										"Skipped",
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Completion",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
									"EndTime": "@formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ssZ')",
									"Inserts": "@variables('RowCount')",
									"StatusMessage": "@concat(item().entity_code, ' curated->mipins completed')\n",
									"AppInsIKey": "@string(\n  coalesce(\n    json(pipeline().parameters.runContextJson)?['appInsightsKey'],\n    json(pipeline().parameters.runContextJson)?['apps_insights_ikey'],\n    ''\n  )\n)\n"
								}
							}
						}
					]
				}
			},
			{
				"name": "Output_JSON",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach_Entities",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "copyCuratedStatusJson",
					"value": {
						"value": "@string(variables('results'))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Return_result",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_HasFailure_From_Results",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "result",
							"value": {
								"type": "Expression",
								"content": "@concat(\n  '{',\n    '\"hasFailure\":', toLower(string(variables('hasFailure'))), ',',\n    '\"results\":', string(variables('results')),\n  '}'\n)\n"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Filter_Entities",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Config').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@or(   equals(length(pipeline().parameters.p_EntityCodes), 0),   contains(pipeline().parameters.p_EntityCodes, item().entity_code) )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_HasFailure_From_Results",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Output_JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "hasFailure",
					"value": {
						"value": "@contains(string(variables('results')), '\"status\":\"Failed\"')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter_Invalid_Entities",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Filter_Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_EntityCodes",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(   contains(     string(activity('Lookup_Config').output.value),     item()   ) )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check_Invalid_Entities",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter_Invalid_Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n  length(activity('Filter_Invalid_Entities').output.value),\n  0\n)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Append_Invalid_Entities",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "results",
								"value": {
									"value": "@json(\n  concat(\n    '{',\n      '\"entity_code\":\"InvalidEntityCodes\",',\n      '\"source_table\":\"\",',\n      '\"target_table\":\"\",',\n      '\"status\":\"Failed\",',\n      '\"rowsCopied\":0,',\n      '\"error\":\"',\n        replace(\n          concat(\n            'Invalid/misspelled entity/ies passed to pln_copy_curated_to_mipins_generic: ',\n            join(activity('Filter_Invalid_Entities').output.value, ', ')\n          ),\n          '\"',\n          ''''\n        ),\n      '\"',\n    '}'\n  )\n)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Mark_Failure_Invalid_Entities",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append_Invalid_Entities",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "hasFailure",
								"value": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_EntityCodes": {
				"type": "array",
				"defaultValue": []
			},
			"runContextJson": {
				"type": "string"
			}
		},
		"variables": {
			"RowCount": {
				"type": "Integer"
			},
			"Error": {
				"type": "String"
			},
			"hasFailure": {
				"type": "Boolean",
				"defaultValue": false
			},
			"results": {
				"type": "Array",
				"defaultValue": []
			},
			"copyCuratedStatusJson": {
				"type": "String"
			},
			"loopStartTicks": {
				"type": "String"
			},
			"lastErrorMessage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "utils/CuratedToMipins"
		},
		"annotations": []
	}
}