workspace/pipeline/pln_copy_green_specialist_cases_mipins.json
{
	"name": "pln_copy_green_specialist_cases_mipins",
	"properties": {
		"activities": [
			{
				"name": "Copy data_green_specialist_case_HighHedges",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table odw.specialist_high_hedges",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Category",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "greenCaseType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "procedure",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Procedure",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "appellantName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Appellant",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "decision",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Decision",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pinsLpaCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPA Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pinsLpaName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPA name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "caseReferenceMipins",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "appeal_reference_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "rejected_or_withdrawn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Rejected or Withdrawn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "withdrawnOrTurnedAwayDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "appeal_withdrawn_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "sitePostcode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "site_address_postcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "receiptDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Received date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "validDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Valid date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "startDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Start Date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "eventDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Event Date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "decisionDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Decision Date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "open_or_closed",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Open or closed",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "linkedGreenCaseId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Linked",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "caseOfficerName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_officer_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "processingState",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "processing_state",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pdac_etl_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "pdac_etl_date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "caseOfficerEmail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_officer_login",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "green_specialist_case_HighHedges",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_source_highhedges",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data Unmanaged_Hedgrow",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart_hedgegrow",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy data_green_specialist_case_HighHedges",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table odw.specialist_hedgerow",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Category",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "greenCaseType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "procedure",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Procedure",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pinsLpaCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPA Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pinsLpaName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPA name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "caseReferenceMipins",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "appeal_reference_number",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "rejected_or_withdrawn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Rejected or Withdrawn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "withdrawnOrTurnedAwayDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "appeal_withdrawn_date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "appellantName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Appellant",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "sitePostcode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "site_address_postcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "receiptDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Received date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "validDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Valid date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "startDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Start Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "eventDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Event Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "decision",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Decision Date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "decisionDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Decision",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "open_or_closed",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Open or closed",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "caseOfficerName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_officer_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "processingState",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "processing_state",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pdac_etl_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "pdac_etl_date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "caseOfficerEmail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_officer_login",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_hedgerow",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_target_hedgerow",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy_unmanaged_data_odw_mipins_tpo",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart_tpo",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy data Unmanaged_Hedgrow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table odw.specialist_tpo",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Category",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "greenCaseType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "procedure",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Procedure",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pinsLpaCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPA Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pinsLpaName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPA name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "caseReferenceMipins",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "appeal_reference_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "rejected_or_withdrawn",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Rejected or Withdrawn",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "withdrawnOrTurnedAwayDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "appeal_withdrawn_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "appellantName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Appellant",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "sitePostcode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "site_address_postcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "receiptDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Received date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "validDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Valid date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "startDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Start Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "eventDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Event Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "decisionDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Decision Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "decision",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Decision",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "open_or_closed",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Open or closed",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "linkedGreenCaseId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "linked",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "caseOfficerName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_officer_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "processingState",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "processing_state",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pdac_etl_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "pdac_etl_date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "caseOfficerEmail",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_officer_login",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_tpo",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_target_tpo",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "pbi_green_specialist_case_hedgerow_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "dbo.pbi_green_specialist_case_highhedges"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Record_Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data_green_specialist_case_HighHedges",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_event",
					"value": {
						"value": "@activity('Copy data_green_specialist_case_HighHedges').output.rowscopied\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_event",
					"value": {
						"value": "@replace(concat(activity('Lookup-LogStart').Error?.message,'|',\nactivity('Copy data_green_specialist_case_HighHedges')?.Error?.message),'|','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_event_curated_mipins_pipeline_failed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_event')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "PBI_green_specialist_case_HighHedges",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_event_curated_mipins_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount_event')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "PBI_green_specialist_case_HighHedges",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup-LogStart_hedgegrow",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "green_specialist_case_Hedgegrows_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "dbo.pbi_green_specialist_case_hedgerow"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Record_Count_hedgegrow",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy data Unmanaged_Hedgrow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_event",
					"value": {
						"value": "@activity('Copy data Unmanaged_Hedgrow').output.rowscopied\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Error_hedgegrow",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Record_Count_hedgegrow",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_event",
					"value": {
						"value": "@replace(concat(activity('Lookup-LogStart_hedgegrow').Error?.message,'|',\nactivity('Copy data Unmanaged_Hedgrow')?.Error?.message),'|','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_failed_hedgegrow",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error_hedgegrow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_event_curated_mipins_pipeline_failed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_event')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "pbi_green_specialist_case_Hedgerow",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_success_hedgegrow",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record_Count_hedgegrow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "green_specialist_case_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount_event')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "pbi_green_specialist_case_Hedgerow",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup-LogStart_tpo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "green_specialist_case_TPO_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "dbo.pbi_green_specialist_case_tpo"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Record_Count_tpo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy_unmanaged_data_odw_mipins_tpo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_event",
					"value": {
						"value": "@activity('Copy_unmanaged_data_odw_mipins_tpo').output.rowscopied\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Error_copy_tpo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Record_Count_tpo",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_event",
					"value": {
						"value": "@replace(concat(activity('Lookup-LogStart_tpo').Error?.message,'|',\nactivity('Copy_unmanaged_data_odw_mipins_tpo')?.Error?.message),'|','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_failed_copy_tpo",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error_copy_tpo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "green_specialist_case_curated_mipins_pipeline_failed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_event')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart_tpo').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "pbi_green_specialist_case_TPO",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_success_copy_tpo",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record_Count_tpo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_event_curated_mipins_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount_event')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart_tpo').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "pbi_green_specialist_case_TPO",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"RowCount_event": {
				"type": "Integer"
			},
			"Error_event": {
				"type": "String"
			},
			"RowCount_Serviceuser": {
				"type": "Integer"
			},
			"Error_Serviceuser": {
				"type": "String"
			},
			"Record_Count_EntraID": {
				"type": "Integer"
			},
			"Error_EntraID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "green_specialist_case/layers/4-curated_mipins"
		},
		"annotations": []
	}
}