workspace/pipeline/pln_service_bus.json
{
	"name": "pln_service_bus",
	"properties": {
		"activities": [
			{
				"name": "Record service bus completion - No custom",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Custom Harmonised",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@variables('pipeline name')",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StatusMessage": {
							"value": "@concat('Completion to load service bus - no custom harmonised layer run: ', variables('entity_name'))",
							"type": "Expression"
						},
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ForEach Update Watermarks",
				"description": "Upserts the max message_enqueued_time_utc into odw_meta_db.pln_service_bus_watermarks for each entity that had new data.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach Custom Harmonised",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter watermark has new data').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Update watermark",
							"description": "Upserts the max message_enqueued_time_utc processed into odw_meta_db.pln_service_bus_watermarks for this entity.",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.0:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "nb_sb_write_manifest_and_watermark",
									"type": "NotebookReference"
								},
								"parameters": {
									"entity_name": {
										"value": {
											"value": "@item().entity_name",
											"type": "Expression"
										},
										"type": "string"
									},
									"lastIngestTime": {
										"value": {
											"value": "@item().message_enqueued_time_utc",
											"type": "Expression"
										},
										"type": "string"
									},
									"status": {
										"value": "Succeeded",
										"type": "string"
									},
									"recordsIngested": {
										"value": {
											"value": "@string(item().records_ingested)",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			},
			{
				"name": "ForEach Custom Harmonised",
				"description": "Runs the custom harmonised notebook for each entity in watermark_json that has new data and a custom harmonised notebook configured.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Custom Harmonised",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Custom Harmonised').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Run Entity Custom Harmonised",
							"description": "Calls the child pipeline to run each custom harmonised notebook for this entity sequentially.",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_sb_run_entity_custom_harmonised",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"entity_name": {
										"value": "@item().entity_name",
										"type": "Expression"
									},
									"custom_harmonised_notebooks": {
										"value": "@item().custom_harmonised_notebooks",
										"type": "Expression"
									},
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter Custom Harmonised",
				"description": "Filters watermark_json for entities that have new data and a custom harmonised notebook to run.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "For Each Std to Hm if has new data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('watermark_json')",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(equals(item().has_new_data, true), greater(length(item().custom_harmonised_notebooks), 0))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record service bus completion",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Update Watermarks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@variables('pipeline name')",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StatusMessage": {
							"value": "@concat('Progressing to load service bus: ', variables('entity_name'))",
							"type": "Expression"
						},
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "For Each Std to Hm if has new data",
				"description": "Run std>hmz for entities that received new data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter watermark has new data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter watermark has new data').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Record std to hrm",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "OnProgress",
									"PipelineName": {
										"value": "@variables('pipeline name')",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat(item().entity_name, ': Processing standardised to harmonised')",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityType": "Pipeline",
									"StatusCode": "200",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Std to Hrm",
							"description": "Ingests standardised data into the harmonised table",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Record std to hrm",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_sb_std_to_hrm",
									"type": "NotebookReference"
								},
								"parameters": {
									"entity_name": {
										"value": {
											"value": "@item().entity_name",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "Record convert std to hrm failed",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Std to Hrm",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Fail",
									"PipelineName": {
										"value": "@variables('pipeline name')",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"Inserts": {
										"value": "@int(json(activity('Std to Hrm').output.status.output.result.exitValue).table_details[0].insert_count)",
										"type": "Expression"
									},
									"Updates": {
										"value": "@int(json(activity('Std to Hrm').output.status.output.result.exitValue).table_details[0].update_count)",
										"type": "Expression"
									},
									"Deletes": {
										"value": "@int(json(activity('Std to Hrm').output.status.output.result.exitValue).table_details[0].delete_count)",
										"type": "Expression"
									},
									"ErrorMessage": {
										"value": "@json(activity('Std to Hrm').output.status.output.result.exitValue).table_details[0].error_message",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat(item().entity_name, ': Std to Hrm failed')",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"PipelineExecutionTimeInSec": {
										"value": "@string(json(activity('Std to Hrm').output.status.output.result.exitValue).table_details[0].total_exec_time)",
										"type": "Expression"
									},
									"ActivityType": "Notebook",
									"DurationSeconds": {
										"value": "@string(json(activity('Std to Hrm').output.status.output.result.exitValue).table_details[0].total_exec_time)",
										"type": "Expression"
									},
									"StatusCode": "400",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Record std to hrm completed",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Std to Hrm",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Completion",
									"PipelineName": {
										"value": "@variables('pipeline name')",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@string(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['start_exec_time'], ''))\n",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@string(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['end_exec_time'], ''))\n\n",
										"type": "Expression"
									},
									"Inserts": {
										"value": "@int(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['insert_count'], 0))",
										"type": "Expression"
									},
									"Updates": {
										"value": "@int(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['update_count'], 0))\n",
										"type": "Expression"
									},
									"Deletes": {
										"value": "@int(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['delete_count'], 0))\n",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat(item().entity_name, ': Processing standardised to harmonised completed')",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"PipelineExecutionTimeInSec": {
										"value": "@string(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))",
										"type": "Expression"
									},
									"ActivityType": "Notebook",
									"DurationSeconds": {
										"value": "@string(coalesce(json(coalesce(activity('Std to Hrm').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))\n",
										"type": "Expression"
									},
									"StatusCode": "200",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup SB Orchestration",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "orchestration_service_bus",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter Enabled Entities",
				"description": "Filters orchestration definitions to entities that are enabled and have no dependencies. If entity_name parameter is provided, restricts to that single entity.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup SB Orchestration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup SB Orchestration').output.value[0].entities",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(equals(item().processing_enabled, true), and(equals(item().run_raw_to_std, true), or(empty(join(pipeline().parameters.entity_name_array, '')), contains(pipeline().parameters.entity_name_array, item().entity_name))))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach - Raw to Std",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Enabled Entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Enabled Entities').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Set entity_name",
							"description": "Sets entity_name variable from the current ForEach item so downstream activities use the correct entity per iteration.",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "entity_name",
								"value": {
									"value": "@item().entity_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Record starting service bus stage",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set pipeline name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "OnProgress",
									"PipelineName": {
										"value": "@variables('pipeline name')",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat('Progressing to load service bus: ', variables('entity_name'))",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityType": "Pipeline",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Create standardised table",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Record checking data on service bus",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "create_table_from_schema",
									"type": "NotebookReference"
								},
								"parameters": {
									"db_name": {
										"value": "odw_standardised_db",
										"type": "string"
									},
									"entity_name": {
										"value": {
											"value": "@variables('entity_name')",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "Create harmonised table",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Record checking data on service bus",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "create_table_from_schema",
									"type": "NotebookReference"
								},
								"parameters": {
									"db_name": {
										"value": "odw_harmonised_db",
										"type": "string"
									},
									"entity_name": {
										"value": {
											"value": "@variables('entity_name')",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "Create curated table",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Record checking data on service bus",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "create_table_from_schema",
									"type": "NotebookReference"
								},
								"parameters": {
									"db_name": {
										"value": "odw_curated_db",
										"type": "string"
									},
									"entity_name": {
										"value": {
											"value": "@variables('entity_name')",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "Record checking data on service bus",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Record starting service bus stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "OnProgress",
									"PipelineName": {
										"value": "@variables('pipeline name')",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat(variables('entity_name'), ': Checking service bus subscription for messages')",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityType": "Pipeline",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Raw to Std",
							"description": "Ingests raw data into the standardised table",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Create standardised table",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Create harmonised table",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Create curated table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.1:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_sb_raw_to_std",
									"type": "NotebookReference"
								},
								"parameters": {
									"entity_name": {
										"value": {
											"value": "@variables('entity_name')",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerID": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName\n",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType\n",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName\n",
											"type": "Expression"
										},
										"type": "string"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId\n",
											"type": "Expression"
										},
										"type": "string"
									},
									"raw_entity_path": {
										"value": {
											"value": "@item().raw_entity_path",
											"type": "Expression"
										},
										"type": "string"
									},
									"standardised_table": {
										"value": {
											"value": "@item().standardised_table",
											"type": "Expression"
										},
										"type": "string"
									},
									"watermark_column": {
										"value": {
											"value": "@item().watermark_column",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "Record convert raw to std failed",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Raw to Std",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Fail",
									"PipelineName": {
										"value": "@variables('pipeline name')",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"Inserts": {
										"value": "@int(json(activity('Raw to Std').output.status.output.result.exitValue).table_details[0].insert_count)",
										"type": "Expression"
									},
									"ErrorMessage": {
										"value": "@json(activity('Raw to Std').output.status.output.result.exitValue).table_details[0].error_message",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat(variables('entity_name'), ': Raw to Std failed')",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"PipelineExecutionTimeInSec": {
										"value": "@string(json(activity('Raw to Std').output.status.output.result.exitValue).table_details[0].total_exec_time)",
										"type": "Expression"
									},
									"ActivityType": "Notebook",
									"DurationSeconds": {
										"value": "@string(json(activity('Raw to Std').output.status.output.result.exitValue).table_details[0].total_exec_time)",
										"type": "Expression"
									},
									"StatusCode": "400",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Record raw to std",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Raw to Std",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Completion",
									"PipelineName": {
										"value": "@variables('pipeline name')",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['start_exec_time'], ''))",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['end_exec_time'], ''))",
										"type": "Expression"
									},
									"Inserts": {
										"value": "@int(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['insert_count'], 0))",
										"type": "Expression"
									},
									"StatusMessage": {
										"value": "@concat(variables('entity_name'), ': Processing source to standardised completed')",
										"type": "Expression"
									},
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"PipelineExecutionTimeInSec": {
										"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))",
										"type": "Expression"
									},
									"ActivityType": "Notebook",
									"DurationSeconds": {
										"value": "@string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['total_exec_time'], 0))",
										"type": "Expression"
									},
									"StatusCode": "200",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set has_new_data json",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Raw to Std",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "has_new_data",
								"value": {
									"value": "@if(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{\"hasNewData\":false}'))?['hasNewData'], false), 'true', 'false')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append to watermark json",
							"description": "Appends an entry to the run-time watermark_json array with has_new_data and message_enqueued_time_utc for this entity.",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set has_new_data json",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "watermark_json",
								"value": {
									"value": "@json(concat('{\"entity_name\":\"', item().entity_name, '\",\"has_new_data\":', variables('has_new_data'), ',\"message_enqueued_time_utc\":\"', coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['max_message_enqueued_time_utc'], ''), '\",\"records_ingested\":', string(coalesce(json(coalesce(activity('Raw to Std').output.status.output.result.exitValue, '{}'))?['table_details']?[0]?['insert_count'], 0)), ',\"custom_harmonised_notebooks\":', if(empty(item().custom_harmonised_notebooks), '[]', string(item().custom_harmonised_notebooks)), '}'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set pipeline name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set entity_name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipeline name",
								"value": {
									"value": "@concat(concat(pipeline().Pipeline, ' - '), variables('entity_name'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter watermark has new data",
				"description": "Filters the run-time watermark_json to entities that received new data, so only those proceed to Std to Hrm and custom harmonised.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ForEach - Raw to Std",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('watermark_json')",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().has_new_data, true)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"apps_insights_ikey": {
				"type": "string"
			},
			"Key_Vault_Url": {
				"type": "string"
			},
			"webhook_url": {
				"type": "string"
			},
			"entity_name_array": {
				"type": "array",
				"defaultValue": [
					""
				]
			}
		},
		"variables": {
			"entity_name": {
				"type": "String",
				"defaultValue": "test"
			},
			"pipeline name": {
				"type": "String",
				"defaultValue": "test"
			},
			"has_new_data": {
				"type": "String",
				"defaultValue": "false"
			},
			"watermark_json": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "utils/Master"
		},
		"annotations": []
	}
}