workspace/pipeline/pln_copy_appeal_has_curated_mipins.json
{
	"name": "pln_copy_appeal_has_curated_mipins",
	"properties": {
		"activities": [
			{
				"name": "Set variable Start Time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable Start Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "appeal_has_curated_mipins_pipeline_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "appeal_has"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "copy_appeal_has_curated_mipins",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "Load.appeals_has_curated_mipins"
					},
					{
						"name": "Destination",
						"value": "Load.appeals_has_curated_mipins"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "drop table if exists odw.appeals_has_curated_mipins",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable_appeals_has_curated_mipins",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Appeal_has_sink_con",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set_PipelineStatus_Success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "copy_appeal_has_curated_mipins",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineStatus",
					"value": "Success"
				}
			},
			{
				"name": "Sp_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_appeal_has_curated_mipins",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_has_curated_mipins_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('copy_appeal_has_curated_mipins').Error.message",
								"type": "Expression"
							},
							"type": "Expression"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@activity('copy_appeal_has_curated_mipins').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Expression"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Expression"
						},
						"Source": {
							"value": "appeal_has",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy horizon Files errorMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "copy_appeal_has_curated_mipins",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorMessage",
					"value": {
						"value": "@split(activity('copy_appeal_has_curated_mipins')?.Error?.Message, ',')[2]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_PipelineStatus_Failed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy horizon Files errorMessage",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineStatus",
					"value": "Failed"
				}
			},
			{
				"name": "Record completed horizon to odw data load",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set_PipelineStatus_Success",
						"dependencyConditions": [
							"Succeeded",
							"Skipped"
						]
					},
					{
						"activity": "Set_PipelineStatus_Failed",
						"dependencyConditions": [
							"Skipped",
							"Succeeded"
						]
					},
					{
						"activity": "Sp_log_success",
						"dependencyConditions": [
							"Succeeded",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "@if(or(equals(activity('copy_appeal_has_curated_mipins')?.Error?.Message, ''),equals(activity('copy_appeal_has_curated_mipins')?.Error?.Message, null)),'Success','Failed')\n",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('StartTime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@if(\n    or(\n        equals(activity('copy_appeal_has_curated_mipins')?.Error?.Message, ''),\n        equals(activity('copy_appeal_has_curated_mipins')?.Error?.Message, null)\n    ),\n    activity('copy_appeal_has_curated_mipins').output.rowsCopied,\n    0\n)\n",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@if(or(equals(activity('copy_appeal_has_curated_mipins')?.Error?.Message, ''), equals(activity('copy_appeal_has_curated_mipins')?.Error?.Message, null)), '', activity('copy_appeal_has_curated_mipins')?.Error?.Message)",
							"type": "Expression"
						},
						"StatusMessage": {
							"value": "@if(or(equals(activity('copy_appeal_has_curated_mipins')?.Error?.Message,''),equals(activity('copy_appeal_has_curated_mipins')?.Error?.Message,null)),'Successfully copied data','Failed copying data')",
							"type": "Expression"
						},
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": {
							"value": "Copy Activity",
							"type": "Expression"
						},
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('StartTime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": {
							"value": "@if(\n    or(\n        equals(activity('copy_appeal_has_curated_mipins')?.Error?.Message, ''),\n        equals(activity('copy_appeal_has_curated_mipins')?.Error?.Message, null)\n    ),\n    '200',\n    '500'\n)",
							"type": "Expression"
						},
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "If_PipelineStatus_Failed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Record completed horizon to odw data load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('PipelineStatus'),'Failed')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Send horizon to odw copy data failed",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_utl_Send_Teams_Message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"activityName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityStatus": "Failed",
									"activityMessage": {
										"value": "@variables('errorMessage')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Fail_Pipeline_On_Error",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Pipeline failed. Check AppInsights logs.",
								"errorCode": "PIPELINE_FAILED"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"apps_insights_ikey": {
				"type": "string",
				"defaultValue": "87864c3b-0d8b-4a98-b2c4-596ddf8fe123"
			}
		},
		"variables": {
			"PipelineStatus": {
				"type": "String",
				"defaultValue": "Success"
			},
			"errorMessage": {
				"type": "String"
			},
			"StartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "mipins"
		},
		"annotations": []
	}
}