workspace/pipeline/pln_service_bus_35.json
{
	"name": "pln_service_bus_35",
	"properties": {
		"activities": [
			{
				"name": "Set entity_name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "entity_name",
					"value": {
						"value": "@replace(replace(pipeline().parameters.entity_name_input, '[''', ''), ''']', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set pipeline name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set entity_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipeline name",
					"value": {
						"value": "@concat(concat(pipeline().Pipeline, ' - '), variables('entity_name'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Raw to Std",
				"description": "Ingests raw data into the standardised table",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Set pipeline name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.1:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_sb_raw_to_std",
						"type": "NotebookReference"
					},
					"parameters": {
						"entity_name": {
							"value": {
								"value": "@variables('entity_name')",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerID": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName\n",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType\n",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName\n",
								"type": "Expression"
							},
							"type": "string"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineRunId\n",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"parameters": {
			"entity_name_input": {
				"type": "string",
				"defaultValue": "['default']"
			},
			"apps_insights_ikey": {
				"type": "string"
			},
			"Key_Vault_Url": {
				"type": "string"
			},
			"webhook_url": {
				"type": "string"
			}
		},
		"variables": {
			"entity_name": {
				"type": "String",
				"defaultValue": "test"
			},
			"Number_of_messages": {
				"type": "Integer",
				"defaultValue": 0
			},
			"pipeline name": {
				"type": "String",
				"defaultValue": "test"
			},
			"record_count": {
				"type": "String",
				"defaultValue": "0"
			},
			"Error_message": {
				"type": "String"
			},
			"Key_Vault_Url": {
				"type": "String"
			}
		},
		"folder": {
			"name": "utils/Master"
		},
		"annotations": []
	}
}