workspace/pipeline/pln_copy_entraid_curated_mipins.json
{
	"name": "pln_copy_entraid_curated_mipins",
	"properties": {
		"activities": [
			{
				"name": "Copy-Entraid-curated-mipins",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "drop table if exists odw.Entraid_curated",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable_EntraID",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Entraid_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Record horizon to odw data loading",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "EntraID_curated_mipins_pipeline_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "EntraID"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Record_Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy-Entraid-curated-mipins",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Record_Count_EntraID",
					"value": {
						"value": "@activity('Copy-Entraid-curated-mipins').output.rowscopied",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_EntraID",
					"value": {
						"value": "@activity('Copy-Entraid-curated-mipins').error.message\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "EntraID_curated_mipins_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('Record_Count_EntraID')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "EntraID",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "EntraID_curated_mipins_pipeline_failed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_EntraID')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "EntraID",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Record horizon to odw data loading",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Entraid curated mipins started",
						"PipelineName": "@pipeline().Pipeline",
						"PipelineRunID": "@pipeline().RunId",
						"StartTime": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
						"StatusMessage": "Loading Entraid curated mipins",
						"PipelineTriggerID": "@pipeline().TriggerId",
						"PipelineTriggerName": "@pipeline().TriggerName",
						"PipelineTriggerType": "@pipeline().TriggerType",
						"PipelineTriggeredbyPipelineName": "@pipeline()?.TriggeredByPipelineName",
						"PipelineTriggeredbyPipelineRunID": "@pipeline()?.TriggeredByPipelineRunId",
						"ActivityType": "Pipeline",
						"AppInsIKey": "@pipeline().parameters.apps_insights_ikey"
					}
				}
			},
			{
				"name": "Log_Pipeline_Success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy-Entraid-curated-mipins",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Succeeded",
						"PipelineName": "@pipeline().Pipeline",
						"PipelineRunID": "@pipeline().RunId",
						"EndTime": "@utcNow()",
						"Inserts": "@activity('Copy-Entraid-curated-mipins').output.rowsCopied",
						"ErrorMessage": "@activity('Copy-Entraid-curated-mipins')?.Error?.Message",
						"StatusMessage": "Entraid curated mipins Successfully",
						"PipelineTriggerID": "@pipeline().TriggerId",
						"PipelineTriggerName": "@pipeline().TriggerName",
						"PipelineTriggerType": "@pipeline().TriggerType",
						"PipelineTriggeredbyPipelineName": "@pipeline()?.TriggeredByPipelineName",
						"PipelineTriggeredbyPipelineRunID": "@pipeline()?.TriggeredByPipelineRunId",
						"ActivityType": "Copy Activity",
						"DurationSeconds": "@activity('Copy-Entraid-curated-mipins').output.copyDuration",
						"AppInsIKey": "@pipeline().parameters.apps_insights_ikey"
					}
				}
			},
			{
				"name": "Log_Pipeline_Failure",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy-Entraid-curated-mipins",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Failed",
						"PipelineName": "@pipeline().Pipeline",
						"PipelineRunID": "@pipeline().RunId",
						"EndTime": "@utcNow()",
						"Inserts": "@coalesce(activity('Copy-Entraid-curated-mipins').output.rowsCopied, 0)\n\n",
						"ErrorMessage": "@if(\n  equals(activity('Copy-Entraid-curated-mipins').Status, 'Failed'),\n  replace(activity('Copy-Entraid-curated-mipins').error.message, '\\n', ' '),\n  ''\n)",
						"StatusMessage": "@if(\n  equals(activity('Copy-Entraid-curated-mipins').Status, 'Failed'),\n  'Entraid curated mipins Failed',\n  concat(\n    'Entraid curated mipins Succeeded. Rows copied: ',\n    string(coalesce(activity('Copy-Entraid-curated-mipins').output.rowsCopied, 0))\n  )\n)\n",
						"PipelineTriggerID": "@pipeline().TriggerId",
						"PipelineTriggerName": "@pipeline().TriggerName",
						"PipelineTriggerType": "@pipeline().TriggerType",
						"PipelineTriggeredbyPipelineName": "@pipeline()?.TriggeredByPipelineName",
						"PipelineTriggeredbyPipelineRunID": "@pipeline()?.TriggeredByPipelineRunId",
						"ActivityType": "Copy Activity",
						"DurationSeconds": "@activity('Copy-Entraid-curated-mipins').output.copyDuration",
						"AppInsIKey": "@pipeline().parameters.apps_insights_ikey"
					}
				}
			}
		],
		"parameters": {
			"apps_insights_ikey": {
				"type": "string",
				"defaultValue": "test-key"
			}
		},
		"variables": {
			"Record_Count_EntraID": {
				"type": "Integer"
			},
			"Error_EntraID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "mipins"
		},
		"annotations": []
	}
}