workspace/pipeline/pln_casework_local_plan_main.json
{
	"name": "pln_casework_local_plan_main",
	"properties": {
		"activities": [
			{
				"name": "Record loading Casework Local Plan Load",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "OnProgress",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"StatusMessage": "Loading Casework Local Plan",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteCasework_local_PlanFileExtract",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Record loading Casework Local Plan Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_casework_local_plan_odw_src_odw_raw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Get recent folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ExecuteCasework_local_PlanFileExtract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_odw_raw_get_recent_casework_local_plan_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If recent file folder exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get recent folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get recent folder').output.exists,true)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Validation Ouput",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Post_Val_Return",
								"value": "N"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "pln_casework_local_plan_standardised",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_casework_local_plan_standardised",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Return Val Variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "pln_casework_local_plan_standardised",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Post_Val_Return",
								"value": {
									"value": "@activity('pln_casework_local_plan_standardised').output.pipelineReturnValue.Post_Check_Return_Val\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "If Post Validation succeeds",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If recent file folder exist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Post_Val_Return'),'Y')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "EndProcess",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "pln_casework_local_plan_harmonised",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_casework_local_plan_harmonised",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "pln_casework_local_plan_curated",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pln_casework_local_plan_harmonised",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_casework_local_plan_curated_main",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "pln_copy_casework_local_plans_mipins",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "pln_casework_local_plan_curated",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_copy_casework_local_plans_mipins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "If File folder not found",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Post Validation succeeds",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('Get recent folder').output, false), equals(variables('Post_Val_Return'), 'N'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DoNothing",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Send Completed when file not found",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_utl_Send_Teams_Message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"dataFactorySubscription": {
										"value": "@pipeline().parameters.subscription_id",
										"type": "Expression"
									},
									"dataFactoryResourceGroup": {
										"value": "@pipeline().parameters.resource_group",
										"type": "Expression"
									},
									"pipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"teamsWebhookUrl": {
										"value": "@pipeline().parameters.webhook_url",
										"type": "Expression"
									},
									"activityName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityMessage": "Casework Local Plan file not found.",
									"activityDuration": {
										"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
										"type": "Expression"
									},
									"activityStatus": "Completed",
									"Colour": {
										"value": "@pipeline().parameters.completed_colour",
										"type": "Expression"
									},
									"Image": {
										"value": "@pipeline().parameters.completed_image",
										"type": "Expression"
									},
									"Message_title": "Unmanaged data - Casework Local Plan file not found.",
									"Message_subtitle": "Casework Local Plan file couldn't be found for today. Please check if Casework Local Plan spreadsheet exist in the source folder."
								}
							}
						}
					]
				}
			},
			{
				"name": "If data quality issue found",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If File folder not found",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('Get recent folder').output, true), equals(variables('Post_Val_Return'), 'N'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "StopPorcess",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Send Completed post validation checks_copy1_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_utl_Send_Teams_Message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"dataFactorySubscription": {
										"value": "@pipeline().parameters.subscription_id",
										"type": "Expression"
									},
									"dataFactoryResourceGroup": {
										"value": "@pipeline().parameters.resource_group",
										"type": "Expression"
									},
									"pipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"teamsWebhookUrl": {
										"value": "@pipeline().parameters.webhook_url",
										"type": "Expression"
									},
									"activityName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityMessage": "Casework Local Plan Post Validation Checks found issues.",
									"activityDuration": {
										"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
										"type": "Expression"
									},
									"activityStatus": "Completed",
									"Colour": {
										"value": "@pipeline().parameters.completed_colour",
										"type": "Expression"
									},
									"Image": {
										"value": "@pipeline().parameters.completed_image",
										"type": "Expression"
									},
									"Message_title": "Unmanaged data - Local Plan Post Validation checks completed with data quality issues.",
									"Message_subtitle": "Casework Local Plan Post Validation Checks found issues in the spreadsheet. Please check your email for further details."
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"webhook_url": {
				"type": "string"
			},
			"subscription_id": {
				"type": "string"
			},
			"resource_group": {
				"type": "string"
			},
			"starting_colour": {
				"type": "string"
			},
			"on_progress_colour": {
				"type": "string"
			},
			"failed_colour": {
				"type": "string"
			},
			"start_time": {
				"type": "string"
			},
			"starting_image": {
				"type": "string"
			},
			"progress_image": {
				"type": "string"
			},
			"warning_image": {
				"type": "string"
			},
			"failed_image": {
				"type": "string"
			},
			"warning_colour": {
				"type": "string"
			},
			"horizon_feed": {
				"type": "array"
			},
			"apps_insights_ikey": {
				"type": "string"
			},
			"completed_colour": {
				"type": "string"
			},
			"completed_image": {
				"type": "string"
			}
		},
		"variables": {
			"execution_logs": {
				"type": "String"
			},
			"Post_Val_Return": {
				"type": "String"
			},
			"errorMsg": {
				"type": "String"
			},
			"wait1": {
				"type": "Integer",
				"defaultValue": 1
			},
			"wait2": {
				"type": "Integer",
				"defaultValue": 2
			},
			"wait3": {
				"type": "Integer",
				"defaultValue": 3
			},
			"wait4": {
				"type": "Integer",
				"defaultValue": 4
			},
			"wait5": {
				"type": "Integer",
				"defaultValue": 5
			},
			"wait6": {
				"type": "Integer",
				"defaultValue": 6
			},
			"wait7": {
				"type": "Integer",
				"defaultValue": 7
			},
			"wait8": {
				"type": "Integer",
				"defaultValue": 8
			},
			"Weekly_Folder_Exists": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "casework_local_plan"
		},
		"annotations": []
	}
}