workspace/pipeline/pln_copy_appeal_has_curated_mipins.json
{
	"name": "pln_copy_appeal_has_curated_mipins",
	"properties": {
		"activities": [
			{
				"name": "Set variable Start Time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy_appeals_has_curated_mipins",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "Load.appeals_has_curated_mipins"
					},
					{
						"name": "Destination",
						"value": "Load.appeals_has_curated_mipins"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "drop table if exists odw.appeals_has_curated_mipins",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable_appeals_has_curated_mipins",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Appeal_has_sink_con",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable Start Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "appeal_has_curated_mipins_pipeline_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "appeal_has"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Record_Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy_appeals_has_curated_mipins",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_Has",
					"value": {
						"value": "@activity('Copy_appeals_has_curated_mipins').output.rowsCopied",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_update dim_source_system",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Live].[upd_dim_source_system]",
					"storedProcedureParameters": {
						"refresh_date": {
							"value": {
								"value": "@utcNow('yyyy-MM-ddTHH:mm:ss.fff')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"source_system": {
							"value": "BackOffice",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set_PipelineStatus_Success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SP_update dim_source_system",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineStatus",
					"value": "Success"
				}
			},
			{
				"name": "Set_PipelineStatus_Failed",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SP_update dim_source_system",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineStatus",
					"value": "Failed"
				}
			},
			{
				"name": "Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SP_update dim_source_system",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_Has",
					"value": {
						"value": "@replace(concat(activity('Lookup-LogStart').Error?.message,'|',\nactivity('Copy_appeals_has_curated_mipins')?.Error?.message,'|',\nactivity('SP_update dim_source_system')?.Error?.message),'|','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_has_curated_mipins_pipeline_failed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_Has')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "appeal_has",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SP_update dim_source_system",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_has_curated_mipins_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount_Has')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "appeal_has",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Record completed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Sp_log_success",
						"dependencyConditions": [
							"Succeeded",
							"Skipped"
						]
					},
					{
						"activity": "Sp_log_failed",
						"dependencyConditions": [
							"Succeeded",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "@if(or(equals(activity('Copy_appeals_has_curated_mipins')?.Error?.Message, ''),equals(activity('Copy_appeals_has_curated_mipins')?.Error?.Message, null)),'Success','Failed')",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('StartTime')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@if(\n    or(\n        equals(activity('Copy_appeals_has_curated_mipins')?.Error?.Message, ''),\n        equals(activity('Copy_appeals_has_curated_mipins')?.Error?.Message, null)\n    ),\n    activity('Copy_appeals_has_curated_mipins').output.rowsCopied,\n    ''\n)\n",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@if(or(equals(activity('Copy_appeals_has_curated_mipins')?.Error?.Message, ''), equals(activity('Copy_appeals_has_curated_mipins')?.Error?.Message, null)), '', activity('Copy_appeals_has_curated_mipins')?.Error?.Message)",
							"type": "Expression"
						},
						"StatusMessage": {
							"value": "@if(\n    or(\n        equals(activity('Copy_appeals_has_curated_mipins')?.Error?.Message, ''),\n        equals(activity('Copy_appeals_has_curated_mipins')?.Error?.Message, null)\n    ),\n    'Successfully copied data from ODW has mipins event',\n    'Failed copying data from ODW has mipins event'\n)",
							"type": "Expression"
						},
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"PipelineExecutionTimeInSec": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('StartTime'))), 10000000)",
							"type": "Expression"
						},
						"ActivityType": {
							"value": "@concat('Copy_appeals_has_curated_mipins',' Activity')",
							"type": "Expression"
						},
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('StartTime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": {
							"value": "@if(\n    or(\n        equals(activity('Copy_appeals_has_curated_mipins')?.Error?.Message, ''),\n        equals(activity('Copy_appeals_has_curated_mipins')?.Error?.Message, null)\n    ),\n    '200',\n    '500'\n)",
							"type": "Expression"
						},
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Check Pipeline Status",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Record completed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('PipelineStatus'), 'Failed')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Fail Pipeline",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Pipeline failed: ', variables('Error_Has'))",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"apps_insights_ikey": {
				"type": "string",
				"defaultValue": "87864c3b-0d8b-4a98-b2c4-596ddf8fe123"
			}
		},
		"variables": {
			"RowCount_Has": {
				"type": "Integer"
			},
			"Error_Has": {
				"type": "String"
			},
			"RowCount_Serviceuser": {
				"type": "Integer"
			},
			"Error_Serviceuser": {
				"type": "String"
			},
			"Record_Count_EntraID": {
				"type": "Integer"
			},
			"Error_EntraID": {
				"type": "String"
			},
			"StartTime": {
				"type": "String"
			},
			"PipelineStatus": {
				"type": "String"
			}
		},
		"folder": {
			"name": "mipins"
		},
		"annotations": []
	}
}