workspace/pipeline/pln_utl_Send_Teams_Message.json
{
	"name": "pln_utl_Send_Teams_Message",
	"properties": {
		"description": "Use this pipeline template to send notification on a teams channel. \n\nhttps://adf.azure.com/en-us/monitoring/pipelineruns/f90465ff-b8ea-4f0f-9110-178164bc8ee4?factory=/subscriptions/7b68d2b5-dfbe-46e1-938f-98ed143b7953/resourceGroups/demo101-rg/providers/Microsoft.DataFactory/factories/demofactory101",
		"activities": [
			{
				"name": "Call Teams Webhook",
				"description": "Invokes teams channel's webbook.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Facts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@pipeline().parameters.teamsWebhookUrl",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "@json(variables('messageCardString'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Facts",
				"description": "Details on Fact schema for teams messages: https://adaptivecards.io/explorer/Fact.html",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Title Colour",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "messageCardString",
					"value": {
						"value": "{\n  \"type\": \"message\",\n  \"attachments\": [\n    {\n      \"contentType\": \"application/vnd.microsoft.card.adaptive\",\n      \"content\": {\n        \"type\": \"AdaptiveCard\",\n        \"body\": [\n          {\n            \"type\": \"Container\",\n            \"items\": [\n              {\n                \"type\": \"ColumnSet\",\n                \"columns\": [\n                  {\n                    \"type\": \"Column\",\n                    \"items\": [\n                      {\n                        \"type\": \"Image\",\n                        \"style\": \"Person\",\n                        \"url\": \"@{pipeline().parameters.Image}\",\n                        \"size\": \"Small\"\n                      }\n                    ],\n                    \"width\": \"auto\"\n                  },\n                  {\n                    \"type\": \"Column\",\n                    \"items\": [\n                      {\n                        \"type\": \"TextBlock\",\n                        \"size\": \"large\",\n                        \"weight\": \"Bolder\",\n                        \"text\": \"@{pipeline().parameters.Message_title}\",\n                        \"wrap\": true,\n                        \"color\": \"@{variables('titleColour')}\"\n                      },\n                      {\n                        \"type\": \"TextBlock\",\n                        \"text\": \"@{pipeline().parameters.Message_subtitle}\",\n                        \"spacing\": \"None\",\n                        \"wrap\": true,\n                        \"size\": \"small\"\n                      }\n                    ],\n                    \"width\": \"stretch\"\n                  }\n                ]\n              },\n              {\n                \"type\": \"FactSet\",\n                \"facts\": [\n                  {\n                    \"title\": \"Pipeline RunId:\",\n                    \"value\": \"@{pipeline().parameters.pipelineRunId}\"\n                  },\n                  {\n                    \"title\": \"Activity name:\",\n                    \"value\": \"@{pipeline().parameters.activityName}\"\n                  },\n                  {\n                    \"title\": \"Activity status:\",\n                    \"value\": \"@{pipeline().parameters.activityStatus}\"\n                  },\n                  {\n                    \"title\": \"Pipeline duration:\",\n                    \"value\": \"@{pipeline().parameters.activityDuration}\"\n                  },\n                  {\n                    \"title\": \"Notification time (UTC):\",\n                    \"value\": \"@{utcNow()}\"\n                  },\n                  {\n                    \"title\": \"Data Factory name:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                  }\n                ]\n              },\n              {\n                \"type\": \"TextBlock\",\n                \"text\": \"@{pipeline().parameters.activityMessage}\",\n                \"wrap\": true,\n                \"spacing\": \"Medium\"\n              }\n            ]\n          }\n        ],\n        \"actions\": [\n          {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"View pipeline run\",\n            \"url\": \"@{concat('https://web.azuresynapse.net/en/monitoring/pipelineruns/',pipeline().parameters.pipelineRunId,'?workspace=/subscriptions/',pipeline().parameters.dataFactorySubscription,'/resourceGroups/',pipeline().parameters.dataFactoryResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().DataFactory,'&filter.pipelinename=', pipeline().parameters.activityName)}\",\n            \"style\": \"positive\"\n          }\n        ],\n        \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n        \"version\": \"1.5\"\n      }\n    }\n  ]\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Title Colour",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "titleColour",
					"value": {
						"value": "@if(\n    contains(\n        createArray(\n            'default',\n            'dark',\n            'light',\n            'accent',\n            'good',\n            'warning',\n            'attention'\n        ),\n        toLower(pipeline().parameters.Colour)\n    ),\n    pipeline().parameters.Colour,\n    'Default'\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"dataFactorySubscription": {
				"type": "string",
				"defaultValue": "<Update value>"
			},
			"dataFactoryResourceGroup": {
				"type": "string",
				"defaultValue": "<Update value>"
			},
			"pipelineRunId": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"teamsWebhookUrl": {
				"type": "string",
				"defaultValue": "<Update value>"
			},
			"activityName": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"activityMessage": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"activityDuration": {
				"type": "string",
				"defaultValue": "Overwrite the value from the calling activity "
			},
			"activityStatus": {
				"type": "string",
				"defaultValue": "Failed"
			},
			"Colour": {
				"type": "string",
				"defaultValue": "accent"
			},
			"Image": {
				"type": "string"
			},
			"Message_title": {
				"type": "string"
			},
			"Message_subtitle": {
				"type": "string"
			}
		},
		"variables": {
			"messageCardString": {
				"type": "String"
			},
			"titleColour": {
				"type": "String"
			}
		},
		"folder": {
			"name": "utils/Master"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-01T09:19:35Z"
	}
}