workspace/pipeline/pln_historical_anonymisation.json
{
	"name": "pln_historical_anonymisation",
	"properties": {
		"activities": [
			{
				"name": "For each entity to apply",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set entities to anonymise",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('entities')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Anonymise",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_etl_executor",
									"type": "NotebookReference"
								},
								"parameters": {
									"input_arguments": {
										"value": {
											"value": "@string(\n    json(\n        concat(\n            '{',\n            concat(\n                '\"orchestration_run_id\": \"',\n                pipeline().parameters.run_id,\n                '\",'\n            ),\n            concat(\n                '\"orchestration_entity_name\": \"',\n                item(),\n                '\",'\n            ),\n            concat(\n                '\"orchestration_stage_name\": \"',\n                'historical_anonymisation',\n                '\",'\n            ),\n            concat(\n                '\"entity_name\": \"',\n                item(),\n                '\",'\n            ),\n            concat(\n                '\"etl_process_name\": \"',\n                'Historical Data Anonymisation Process',\n                '\"'\n            ),\n            '}'\n        )\n    )\n)",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "pinssynspodw35",
									"type": "BigDataPoolReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set entities to anonymise",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "entities",
					"value": {
						"value": "@createArray(\n    'appeal-has',\n    'nsip-subscription',\n    'InspectorCases',\n    'DaRT_Inspectors',\n    'CaseInvolvement',\n    'DaRT_LPA',\n    'HorizonCases_s78',\n    'NSIPReleventRepresentation',\n    'HorizonCases_Has',\n    'DocumentMetaData',\n    'CaseSiteStrings'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Anonymise entraid",
				"description": "This is done separately because it uses a different ETLProcess",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_etl_executor",
						"type": "NotebookReference"
					},
					"parameters": {
						"input_arguments": {
							"value": {
								"value": "@string(\n    json(\n        concat(\n            '{',\n            concat(\n                '\"orchestration_run_id\": \"',\n                pipeline().parameters.run_id,\n                '\",'\n            ),\n            concat(\n                '\"orchestration_entity_name\": \"',\n                'entraid',\n                '\",'\n            ),\n            concat(\n                '\"orchestration_stage_name\": \"',\n                'historical_anonymisation',\n                '\",'\n            ),\n            concat(\n                '\"entity_name\": \"',\n                'entraid',\n                '\",'\n            ),\n            concat(\n                '\"etl_process_name\": \"',\n                'EntraId Historical Data Anonymisation Process',\n                '\"'\n            ),\n            '}'\n        )\n    )\n)",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "pinssynspodw35",
						"type": "BigDataPoolReference"
					}
				}
			}
		],
		"parameters": {
			"run_id": {
				"type": "string"
			}
		},
		"variables": {
			"entities": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "anonymisation"
		},
		"annotations": []
	}
}