workspace/pipeline/pln_copy_hedgegrow_to_mipins.json
{
	"name": "pln_copy_hedgegrow_to_mipins",
	"properties": {
		"activities": [
			{
				"name": "copy_curated_odw_to_mipins",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup-LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "drop table if exists odw.appeal_event_curated_mipins",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "greenCaseId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "greenCaseType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "procedure",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Procedure",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pinsLpaCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPA Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pinsLpaName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPA name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "caseReference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "appeal_reference_number",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "withdrawnOrTurnedAwayDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "appeal_withdrawn_date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "appellantName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Appellant",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "sitePostcode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "site_address_postcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "receiptDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Received date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "validDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Valid date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "startDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Start Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "eventDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Event Date",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "decisionDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "Decision Date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "decision",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Decision",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "caseOfficerName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_officer_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "appeal_event_curated_mipins_sourceconn",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTableMiPinsDev",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup-LogStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Audit].[usp_addETLLog]",
						"storedProcedureParameters": {
							"Description": {
								"type": "String",
								"value": "appeal_event_curated_mipins_pipeline_started"
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"LogType": {
								"type": "String",
								"value": "1"
							},
							"Param1Value": {
								"type": "String",
								"value": null
							},
							"RowCount": {
								"type": "Int32",
								"value": null
							},
							"RunId": {
								"type": "Int32",
								"value": null
							},
							"Source": {
								"type": "String",
								"value": "appeal_event"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_LogStart",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Record_Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "copy_curated_odw_to_mipins",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RowCount_event",
					"value": {
						"value": "@activity('copy_curated_odw_to_mipins').output.rowscopied",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error_event",
					"value": {
						"value": "@replace(concat(activity('Lookup-LogStart').Error?.message,'|',\nactivity('copy_curated_odw_to_mipins')?.Error?.message),'|','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sp_log_failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_event_curated_mipins_pipeline_failed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@variables('Error_event')",
								"type": "Expression"
							},
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": null,
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "appeal_event",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sp_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[usp_addETLLog]",
					"storedProcedureParameters": {
						"Description": {
							"value": "appeal_event_curated_mipins_pipeline_completed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"LogType": {
							"value": "2",
							"type": "String"
						},
						"Param1Value": {
							"value": null,
							"type": "String"
						},
						"RowCount": {
							"value": {
								"value": "@variables('RowCount_event')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@activity('Lookup-LogStart').output.firstRow.RunId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Source": {
							"value": "appeal_event",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_mipins",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"RowCount_event": {
				"type": "Integer"
			},
			"Error_event": {
				"type": "String"
			},
			"RowCount_Serviceuser": {
				"type": "Integer"
			},
			"Error_Serviceuser": {
				"type": "String"
			},
			"Record_Count_EntraID": {
				"type": "Integer"
			},
			"Error_EntraID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "saphr"
		},
		"annotations": []
	}
}