workspace/pipeline/pln_specialist_case_post_validation_email_notification.json
{
	"name": "pln_specialist_case_post_validation_email_notification",
	"properties": {
		"activities": [
			{
				"name": "Notify Post Validation email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Logic App URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@activity('Get Logic App URL').output.value",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "\"subject\": \"Green Cases Post Validation check failed\",\n  \"bodyHtml\": \"<html><body style=\\\"font-family: Arial, sans-serif;\\\"><p><strong>Data Validation Failed</strong></p><p>Total Rejection Rows: @{json(pipeline().parameters.Json_Output).total_rejection_rows}<br></p><p>Please review and correct the data issues.</p></body></html>\",\n  \"storageAccountName\": \"pinsstodwdevuks9h80mb\",\n  \"storagePath\": \"https://pinsstodwdevuks9h80mb.dfs.core.windows.net/odw-raw/Green_Specialist_Case/2025-11-27/rejected\",\n  \"fileName\": \"Rohitgreen_specialist_case_20251127.csv\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set key vault URL",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Key_Vault_Url_Logic_App",
					"value": {
						"value": "@if(\n    equals(\n        pipeline().DataFactory,\n        'pins-synw-odw-dev-uks'\n    ),\n    'https://pinskvsynwodwdevuks.vault.azure.net/secrets/',\n    if(\n        equals(\n            pipeline().DataFactory,\n            'pins-synw-odw-test-uks'\n        ),\n        'https://pinskvsynwodwtestuks.vault.azure.net/secrets/',\n        if(\n            equals(\n                pipeline().DataFactory,\n                'pins-synw-odw-build-uks'\n            ),\n            'https://pinskvsynwodwbuilduks.vault.azure.net/secrets/',\n            'https://pinskvsynwodwproduks.vault.azure.net/secrets/'\n        )\n    )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Logic App URL",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set key vault URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(variables('Key_Vault_Url_Logic_App'),'logic-app-specialist-case-',if( contains(toLower(pipeline().DataFactory), 'dev'), 'dev', if( contains(toLower(pipeline().DataFactory), 'test'), 'test', 'prod' ) ),'?api-version=7.4')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"Json_Output": {
				"type": "string"
			}
		},
		"variables": {
			"var_logic_app_url": {
				"type": "String"
			},
			"Key_Vault_Url_Logic_App": {
				"type": "String"
			}
		},
		"folder": {
			"name": "utils"
		},
		"annotations": []
	}
}